USE [PROD_REPORTING_DB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_AgentLogins_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'AgentLogins'
	AND JobName		= 'Job.AgentLogins_Curated'
	AND JobStatus 	= 'Completed'
	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.AgentLogins_Curated',
		'AgentLogins',
		@Run_DTS,
		NULL,
		'In Progress'
	)

DELETE FROM dbo.AgentLogins
WHERE  LoginDate BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)

INSERT INTO dbo.AgentLogins
SELECT
	CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(AgentLogins.AgentID, '|', CAST(AgentLogins.LoginDate AS DATE), '|', AgentLogins.CampaignID)), 2)  as AgentKey,
    AgentLogins.AgentID,
    AgentLogins.LoginDate,
    AgentLogins.CampaignID,
    CONCAT(Agents.FirstName, ' ', Agents.LastName) as AgentName,
    Agents.Role,
    CAST(Agents.Production_StartDate AS DATE) as ProductionStartDate,
    CASE
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentLogins.LoginDate) between 0 and 30 then '1-30 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentLogins.LoginDate) between 31 and 60 then '31-60 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentLogins.LoginDate) between 61 and 90 then '61-90 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentLogins.LoginDate) between 91 and 180 then '91-180 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentLogins.LoginDate) between 181 and 365 then '181-365 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentLogins.LoginDate) between 366 and 730 then '1-2 Years'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentLogins.LoginDate) >= 731 then '2+ Years'
        ELSE 'Miscellaneous' END as AgentTenure,
    Agents.SupervisorId,
	Agents.SupervisorName,
    Agents.Site,
    Rates.Rate as SiteRate,
    AgentLogins.TotalLoginSeconds,
    TWW.TotalTalkTime as TotalTalkTimeSeconds,
    TWW.TotalWaitTime as TotalWaitTimeSeconds,
    TWW.TotalWrapTime as TotalWrapTimeSeconds,
    TWW.TotalTWWTime as TotalTWWTimeSeconds,
    AgentBreaks.TotalBreakSeconds,
	AgentBreaks.LunchBreakSeconds,
	@Run_DTS AS VRSN_SRT_DTS,
	CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS,
	@Run_DTS AS	INSERT_DTS,
	'Standard' AS INSTANT_ST_NM,
	'Reporting DB' AS SOURCE_SYS_NAME

FROM (
        SELECT
            AgentID,
            CAST(rptdate AS DATE) as LoginDate,
            CampaignID,
            SUM(LoginSeconds) as TotalLoginSeconds

        FROM
            WEBDIALER.dbo.rptlogin(nolock) as Logins
        WHERE
            CampaignID IN( 'ETQ','ECB')
            AND ( rptdate BETWEEN CAST(@MaxDate as DATE) AND CAST(@Run_DTS as DATE) )
        GROUP BY 
            AgentID, 
            rptdate,
            CampaignID
    ) as AgentLogins

LEFT JOIN /* PROD_FOUNDATION_DB.dbo.Agents(nolock) as Agents ON (Agents.Id = AgentLogins.AgentID
                                                         AND AgentLogins.LoginDate BETWEEN Agents.VRSN_SRT_DTS AND Agents.VRSN_END_DTS) */
(		
		Select	DISTINCT 
				A.Id, 
				A.Site, 
				A.SupervisorId, 
				A.FirstName, 
				A.LastName , 
				A.Role, 
				A.Production_StartDate,
				A.VRSN_SRT_DTS, 
				A.VRSN_END_DTS,
				COALESCE(S.FirstName,'')+' '+COALESCE(S.LastName, '') AS SupervisorName
		From	PROD_FOUNDATION_DB.dbo.Agents as A (nolock)  

			LEFT JOIN 
				( 
				Select	ID, FirstName, LastName, ROW_NUMBER() OVER ( PARTITION BY ID ORDER BY ID) AS RN 
				From	PROD_FOUNDATION_DB.dbo.Agents 
				) S ON ( ISNULL(S.Id,'') = ISNULL(A.SupervisorId, '')) AND RN = 1
				
		
) Agents ON  (
				Agents.Id = AgentLogins.AgentID  AND (AgentLogins.LoginDate BETWEEN Agents.VRSN_SRT_DTS AND Agents.VRSN_END_DTS)
			 )

LEFT JOIN PROD_FOUNDATION_DB.dbo.Rates(nolock) as Rates ON (Agents.Site = Rates.Site
                                                       AND YEAR(AgentLogins.LoginDate) = Rates.[Year]
                                                       AND MONTH(AgentLogins.LoginDate) = Rates.[Month]
                                                       AND Rates.VRSN_END_DTS = '9999-12-31 00:00:00.000')

LEFT JOIN (
            SELECT 
                AgentID,
                CallDate,
                SUM(TotalTalkTime) as TotalTalkTime,
                SUM(TotalWaitTime) as TotalWaitTime,
                SUM(TotalWrapTime) as TotalWrapTime,
                SUM(TotalTWWTime) as TotalTWWTime

            FROM 
                PROD_REPORTING_DB.dbo.AgentWages with(nolock)
            GROUP BY
                AgentID,
                CallDate
        ) as TWW ON (TWW.AgentID = AgentLogins.AgentID AND TWW.CallDate = AgentLogins.LoginDate)

LEFT JOIN (
            SELECT 
                AgentID,
                BreakDate,
                SUM(TotalBreakSeconds) as TotalBreakSeconds,
				SUM(CASE WHEN BreakCategory = 'Lunch' THEN TotalBreakSeconds ELSE 0 END ) AS LunchBreakSeconds

            FROM 
                PROD_REPORTING_DB.dbo.AgentBreaks with(nolock)
            GROUP BY
                AgentID,
                BreakDate
        ) as AgentBreaks ON (AgentBreaks.AgentID = AgentLogins.AgentID AND AgentBreaks.BreakDate = AgentLogins.LoginDate)


	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'AgentLogins'
	AND JobName		= 'Job.AgentLogins_Curated'
	AND JobStatus 	= 'In Progress'
	AND START_DTS	= @Run_DTS
	
END

