USE [PROD_REPORTING_DB]
GO
 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [ETL].[usp_AgentWages_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'AgentWages'
	AND JobName		= 'Job.AgentWages_Curated'
	AND JobStatus 	= 'Completed'
	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.AgentWages_Curated',
		'AgentWages',
		@Run_DTS,
		NULL,
		'In Progress'
	)

DELETE FROM dbo.AgentWages
WHERE  Calldate BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)

INSERT INTO dbo.AgentWages
SELECT
	CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(Calls.AgentID, '|', Calls.Calldate, '|', Calls.Campaign)), 2) as AgentKey,
    Calls.AgentId,
    Calls.Calldate,
    Calls.Campaign,
    CONCAT(Agents.FirstName, ' ', Agents.LastName) as AgentName,
    Agents.Role,
    CAST(Agents.Production_StartDate AS DATE) as ProductionStartDate,
    CASE
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, Calls.Calldate) between 0 and 30 then '1-30 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, Calls.Calldate) between 31 and 60 then '31-60 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, Calls.Calldate) between 61 and 90 then '61-90 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, Calls.Calldate) between 91 and 180 then '91-180 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, Calls.Calldate) between 181 and 365 then '181-365 Days'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, Calls.Calldate) between 366 and 730 then '1-2 Years'
        WHEN DATEDIFF(DAY, Agents.Production_StartDate, Calls.Calldate) >= 731 then '2+ Years'
        ELSE 'Miscellaneous' END as AgentTenure,
    Agents.SupervisorId,
    Agents.Site,
    Rates.Rate as SiteRate,
    Calls.TotalTalkTime,
    Calls.TotalWaitTime,
    Calls.TotalWrapTime,
    Calls.TotalTWWTime,

	@Run_DTS AS VRSN_SRT_DTS,
	CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS,
	@Run_DTS AS	INSERT_DTS,
	'Standard' AS INSTANT_ST_NM,
	'Reporting DB' AS SOURCE_SYS_NAME

FROM (
        SELECT
            AgentId,
            CAST(calldate AS DATE) as Calldate,
            Campaign,
            SUM(COALESCE(Talktime, 0)) AS TotalTalkTime,
            SUM(COALESCE(Waittime, 0)) AS TotalWaitTime,
            SUM(COALESCE(Wraptime, 0)) AS TotalWrapTime,
            SUM(COALESCE(Talktime, 0) + COALESCE(Waittime, 0) + COALESCE(Wraptime, 0)) As TotalTWWTime

        FROM
            WEBDIALER.dbo.rpttrak(nolock)
        WHERE 
            campaign IN( 'ETQ','ECB')
            AND calltype <> 8
            AND ( CAST(calldate AS DATE) BETWEEN CAST(@MaxDate as DATE) AND CAST(@Run_DTS as DATE) )
        GROUP BY
            AgentId,
            CAST(calldate AS DATE),
            campaign
    ) AS Calls
LEFT JOIN PROD_FOUNDATION_DB.dbo.Agents(nolock) AS Agents ON Calls.AgentId = Agents.Id
                                                        AND Calls.calldate BETWEEN Agents.VRSN_SRT_DTS AND Agents.VRSN_END_DTS

LEFT JOIN PROD_FOUNDATION_DB.dbo.Rates(nolock) as Rates ON (Agents.Site = Rates.Site
                                                       AND YEAR(Calls.Calldate) = Rates.[Year]
                                                       AND MONTH(Calls.Calldate) = Rates.[Month]
                                                       AND Rates.VRSN_END_DTS = '9999-12-31 00:00:00.000')




	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'AgentWages'
	AND JobName		= 'Job.AgentWages_Curated'
	AND JobStatus 	= 'In Progress'
	AND START_DTS	= @Run_DTS
	
END

