USE [PROD_REPORTING_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_AgentBreaks_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'AgentBreaks'
	AND JobName		= 'Job.AgentBreaks_Curated'
	AND JobStatus 	= 'Completed'
	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.AgentBreaks_Curated',
		'AgentBreaks',
		@Run_DTS,
		NULL,
		'In Progress'
	)

DELETE FROM dbo.AgentBreaks
WHERE  BreakDate BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)

INSERT INTO dbo.AgentBreaks
SELECT AgentBreaks.AgentKey,
       AgentBreaks.AgentID,
       AgentBreaks.BreakDate,
       AgentBreaks.CampaignID,
       CONCAT(Agents.FirstName, ' ', Agents.LastName) as AgentName,
       Agents.Role,
       CAST(Agents.Production_StartDate AS DATE) as ProductionStartDate,
       CASE
            WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentBreaks.BreakDate) between 0 and 30 then '1-30 Days'
            WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentBreaks.BreakDate) between 31 and 60 then '31-60 Days'
            WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentBreaks.BreakDate) between 61 and 90 then '61-90 Days'
            WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentBreaks.BreakDate) between 91 and 180 then '91-180 Days'
            WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentBreaks.BreakDate) between 181 and 365 then '181-365 Days'
            WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentBreaks.BreakDate) between 366 and 730 then '1-2 Years'
            WHEN DATEDIFF(DAY, Agents.Production_StartDate, AgentBreaks.BreakDate) >= 731 then '2+ Years'
            ELSE 'Miscellaneous' 
       END as AgentTenure,
       Agents.SupervisorId,
       Agents.Site,
       Rates.Rate as SiteRate,
       AgentBreaks.BreakCategory,
       AgentBreaks.BreakCode,
       AgentBreaks.TotalBreakHours,
       AgentBreaks.TotalBreakSeconds,
	   @Run_DTS AS VRSN_SRT_DTS,
	   CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS,
	   @Run_DTS AS	INSERT_DTS,
	   'Standard' AS INSTANT_ST_NM,
	   'Reporting DB' AS SOURCE_SYS_NAME

FROM (
        SELECT
            CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(AgentID, '|', CAST(rptdate AS DATE), '|', CampaignID)), 2)  as AgentKey,
            AgentID,
            CAST(rptdate AS DATE) as BreakDate,
            CampaignID,
            CASE 
                WHEN BreakCode IN ('50', 'Lunch', 'Lunch - 45') THEN 'Lunch'
                WHEN BreakCode LIKE 'Cert - %' THEN 'Certification'
                WHEN BreakCode LIKE 'Coaching - %' THEN 'Coaching'
                WHEN BreakCode LIKE 'Training - %' THEN 'Training'
                WHEN BreakCode = 'Pre Shift' THEN 'Pre Shift'
                WHEN BreakCode = 'Scheduled Break' THEN 'Scheduled Break'
                WHEN BreakCode = 'Unscheduled Break' THEN 'Unscheduled Break'
                WHEN BreakCode = 'Consumer Research' THEN 'Consumer Research'
                WHEN BreakCode = 'Enrollment Callback' THEN 'Enrollment Callback'
                WHEN BreakCode = 'Initial Login' THEN 'Initial Login'
                WHEN BreakCode = 'Manual Call' THEN 'Manual Call'
                ELSE 'Others'
            END as BreakCategory,
            BreakCode,
            SUM(BreakSeconds) as TotalBreakSeconds,
            SUM(BreakSeconds)/3600.00 as TotalBreakHours

        FROM 
            WEBDIALER.dbo.rptbreak(nolock)
        WHERE 
            ISNULL(AgentID, '') <> ''
            AND CampaignID IN( 'ETQ','ECB')
            AND CAST(rptdate as date) BETWEEN CAST(@MaxDate as DATE) AND CAST(@Run_DTS as DATE)
        GROUP BY 
            AgentID, 
            cast(rptdate as date),
            CampaignID,
            CASE 
                WHEN BreakCode IN ('50', 'Lunch', 'Lunch - 45') THEN 'Lunch'
                WHEN BreakCode LIKE 'Cert - %' THEN 'Certification'
                WHEN BreakCode LIKE 'Coaching - %' THEN 'Coaching'
                WHEN BreakCode LIKE 'Training - %' THEN 'Training'
                WHEN BreakCode = 'Pre Shift' THEN 'Pre Shift'
                WHEN BreakCode = 'Scheduled Break' THEN 'Scheduled Break'
                WHEN BreakCode = 'Unscheduled Break' THEN 'Unscheduled Break'
                WHEN BreakCode = 'Consumer Research' THEN 'Consumer Research'
                WHEN BreakCode = 'Enrollment Callback' THEN 'Enrollment Callback'
                WHEN BreakCode = 'Initial Login' THEN 'Initial Login'
                WHEN BreakCode = 'Manual Call' THEN 'Manual Call'
                ELSE 'Others'
            END,
            BreakCode
) AgentBreaks

LEFT JOIN PROD_FOUNDATION_DB.dbo.Agents(nolock) as Agents ON (Agents.Id = AgentBreaks.AgentID
                                                         AND AgentBreaks.BreakDate BETWEEN Agents.VRSN_SRT_DTS AND Agents.VRSN_END_DTS)

LEFT JOIN PROD_FOUNDATION_DB.dbo.Rates(nolock) as Rates ON (Agents.Site = Rates.Site
                                                       AND YEAR(AgentBreaks.BreakDate) = Rates.[Year]
                                                       AND MONTH(AgentBreaks.BreakDate) = Rates.[Month]
                                                       AND Rates.VRSN_END_DTS = '9999-12-31 00:00:00.000')


	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'AgentBreaks'
	AND JobName		= 'Job.AgentBreaks_Curated'
	AND JobStatus 	= 'In Progress'
	AND START_DTS	= @Run_DTS
	
END

