USE [PROD_FOUNDATION_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_CalenderFiscalDates_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS

BEGIN
    DECLARE @MaxDate DATETIME
    DECLARE @Run_DTS DATETIME
	
    SELECT	@MaxDate	= COALESCE(MAX(START_DTS),'1900-01-01 00:00:00.000')  
	FROM	dbo.BatchControl 
	WHERE	JobName		='Job.CalenderFiscalDates_Syndicated' 
	AND		JobStatus	='Completed'
	
    SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)


IF EXISTS ( SELECT 1 FROM dbo.CalenderFiscalDates with(nolock) WHERE CalendarDate = convert(date, @Run_DTS) )
BEGIN
RETURN
END

ELSE 

BEGIN
	--Inserts the details of the current job to batch control table
    INSERT INTO dbo.BatchControl 
    (
        JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
    ) 
    VALUES 
    (
        'Job.CalenderFiscalDates_Syndicated',
        'CalenderFiscalDates',
        @Run_DTS,
        NULL,
        'In Progress'
    )
	

DELETE FROM dbo.CalenderFiscalDates WHERE CalendarDate BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)

INSERT INTO dbo.CalenderFiscalDates
SELECT 
    CalendarDate,
    convert(varchar, CalendarYear) as year,
    'Q' + convert(varchar, CalendarQuarter) as quarter,
    FORMAT(CalendarDate, 'MMM') as month,
    CalendarMonth as month_num,
    'W' + convert(varchar,CalendarWeekNumber) AS Week,
    CalendarWeekNumber AS WeekSequence,
    CalendarDayOfWeek AS DayNumber,
    CalendarDayName as DayOfWeek,
    'Day ' + convert(varchar, DATEPART(D, CalendarDate)) as Day,
    DATEPART(D, CalendarDate) AS DaySequence,
    DATEPART(y,CalendarDate) AS DayOfYear,
    [Period],
    'Day ' + convert(varchar,EnrollmentDayNumber) AS EnrollmentDayNumber,
    EnrollmentDayNumber AS EnrollmentDaySequence,
    'Calendar' as CalendarType,
    NULL AS ProductionDay

FROM 
    dbo.Dates WITH (Nolock)
WHERE 
    CalendarDate BETWEEN convert(date,@MaxDate) AND convert(date,@Run_DTS)

UNION

SELECT 
    CalendarDate,
    convert(varchar, FiscalYear-1) + '-' + right(FiscalYear, 2) as year,
    'Q' + convert(varchar, FiscalQuarter) as quarter,
    FORMAT(CalendarDate, 'MMM') as month,
    CalendarMonth as month_num,
    'W' + convert(varchar,FiscalWeek) as Week,
    FiscalWeek AS WeekSequence,
    CalendarDayOfWeek AS DayNumber,
    CalendarDayName as DayOfWeek,
    'Day ' + convert(varchar, DATEPART(D, CalendarDate)) as Day,
    DATEPART(D, CalendarDate) AS DaySequence,
    FiscalDay AS DayOfYear,
    [Period],
    'Day ' + convert(varchar,EnrollmentDayNumber) AS EnrollmentDayNumber,
    EnrollmentDayNumber AS EnrollmentDaySequence,
    'Fiscal' as CalendarType,
    NULL AS ProductionDay

FROM 
    dbo.Dates WITH (Nolock)
WHERE 
    CalendarDate BETWEEN convert(date,@MaxDate) AND convert(date,@Run_DTS)

UPDATE c
SET    c.ProductionDay = p.Production_Day
FROM   dbo.CalenderFiscalDates c
JOIN (
​
    Select 	CalFisProd.CalendarDate, Production_Day, CalendarType
    From 	
    (
    Select	CalendarDate,
            Production_Day = RANK() OVER ( PARTITION BY CalendarYear ORDER BY CalendarDate ASC ), 
            'Calendar' AS CalendarType
            From
            (
            Select	Dates.*
            From	dbo.Dates Dates WITH(NOLOCK) LEFT OUTER JOIN dbo.Holidays Hol WITH(NOLOCK) ON Dates.CalendarDate = Hol.CalendarDate
            Where	Dates.CalendarDayName  NOT IN ('Saturday', 'Sunday') AND
                    Hol.CalendarDate 	IS NULL 
            ) Cal_Prod_Day
    UNION      
    Select	CalendarDate,
            Production_Day = RANK() OVER ( PARTITION BY FiscalYear ORDER BY CalendarDate ASC ), 
            'Fiscal' AS CalendarType
            From
            (
            Select	Dates.*
            From	dbo.Dates Dates WITH(NOLOCK) LEFT OUTER JOIN dbo.Holidays Hol WITH(NOLOCK) ON Dates.CalendarDate = Hol.CalendarDate
            Where	Dates.CalendarDayName  NOT IN ('Saturday', 'Sunday') AND
                    Hol.CalendarDate 	IS NULL 
            ) Fis_Prod_Day      
    ) 
    CalFisProd
 
    INNER JOIN dbo.CalenderFiscalDates cfd   on CalFisProd.CalendarDate = cfd.CalendarDate AND CalFisProd.CalendarType = cfd.[Calendar Type]
) p ON c.CalendarDate = p.CalendarDate AND c.[Calendar Type] = p.CalendarType


	UPDATE dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed'
	WHERE TableName = 'CalenderFiscalDates'
	AND JobStatus 	= 'In Progress'
	AND START_DTS   = @Run_DTS
	
END

END 

