USE [PROD_FOUNDATION_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [ETL].[usp_CarrierRateCard_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900',
@End_Date   DATETIME    =  '1/1/1900'
)
AS

BEGIN

    DECLARE @MaxDate DATETIME
    DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    SELECT @MaxDate	=COALESCE(MAX(DATEADD(SECOND,1,START_DTS)),'1900-01-01 00:00:00.000')  
	FROM	dbo.BatchControl 
	WHERE JobName		='Job.CarrierRateCard_Syndicated' 
	AND JobStatus		='Completed'
	
    SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)

    --Inserts the details of the current job to batch control table
    INSERT INTO dbo.BatchControl 
    (
        JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
    ) 
    VALUES 
    (
        'Job.CarrierRateCard_Syndicated'
        ,'CarrierRateCard'
        ,@RUN_DTS
        ,NULL
        ,'In Progress'
    )

    ----Loads the data to syndicated layer table in incremental method

	INSERT INTO dbo.CarrierRateCard 
	SELECT 
		ID,
		[Product Sold],
		Plan_Type,
		State,
		[Plan Year], 
		Rate,
		Admin_Fee, 
		Commission, 
		Mthly_Rate_rnl, 
		Admin_Fee_Mnth_Rnl, 
		Annual_Rate_Rnl, 
		Admin_Fee_Rnl, 
		Renewal_anl, 
		PlanMonth, 
		FinalProduct, 
		Carrier,
        case
            when plan_type ='Unlike Plan Change' then 'New Enrollment'
            when carrier = 'UnitedHealthCare' and plan_type is null then 'New Enrollment'
            when carrier = 'UnitedHealthCare' and plan_type ='Exceptions' then 'Like Plan Change'
            when plan_type ='Initial Sale / Unlike Plan Change' then 'New Enrollment'
            when plan_type ='Like Plan Change / New CMS' then 'Like Plan Change'
            when Plan_type ='Like plan Change / RMO' then 'Like Plan Change'
            when Plan_type ='RMO' then  'New Enrollment'
            else plan_type  
        end AS Renewal,
		@Run_DTS AS VRSN_SRT_DTS,
		CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS,	
		@Run_DTS AS	INSERT_DTS,	
		'Standard' AS INSTANT_ST_NM,
		'CRMDB' AS SOURCE_SYS_NAME
	FROM CRMDB.dbo.CarrierRateCard S
	WHERE NOT EXISTS
	(
		SELECT ID
		FROM dbo.CarrierRateCard T
        WHERE S.Carrier					=T.Carrier 
		AND S.[Plan Year]				=T.PlanYear
		AND ISNULL(S.PlanMonth,'')		=ISNULL(T.PlanMonth,'')
		AND ISNULL(S.[State],'')		=ISNULL(T.[State],'')
		AND ISNULL(S.[Product Sold],'')	=ISNULL(T.ProductSold ,'')
		AND ISNULL(S.Plan_Type,'')		=ISNULL(T.Plan_Type,'')
		AND S.ID						=T.ID
	)

	INSERT INTO dbo.CarrierRateCard 
	SELECT 
		ID,
		[Product Sold],
		Plan_Type,
		State,
		[Plan Year], 
		Rate,
		Admin_Fee, 
		Commission, 
		Mthly_Rate_rnl, 
		Admin_Fee_Mnth_Rnl, 
		Annual_Rate_Rnl, 
		Admin_Fee_Rnl, 
		Renewal_anl, 
		PlanMonth, 
		FinalProduct, 
		Carrier,
        case
            when plan_type ='Unlike Plan Change' then 'New Enrollment'
            when carrier = 'UnitedHealthCare' and plan_type is null then 'New Enrollment'
            when carrier = 'UnitedHealthCare' and plan_type ='Exceptions' then 'Like Plan Change'
            when plan_type ='Initial Sale / Unlike Plan Change' then 'New Enrollment'
            when plan_type ='Like Plan Change / New CMS' then 'Like Plan Change'
            when Plan_type ='Like plan Change / RMO' then 'Like Plan Change'
            when Plan_type ='RMO' then  'New Enrollment'
            else plan_type  
        end AS Renewal,
		@Run_DTS AS VRSN_SRT_DTS,
		CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS,	
		@Run_DTS AS	INSERT_DTS,	
		'Standard' AS INSTANT_ST_NM,
		'CRMDB' AS SOURCE_SYS_NAME
	FROM CRMDB.dbo.CarrierRateCard S
	WHERE EXISTS
	(
		SELECT ID
		FROM dbo.CarrierRateCard T
        WHERE S.Carrier					=T.Carrier 
		AND S.[Plan Year]				=T.PlanYear
		AND ISNULL(S.PlanMonth,'')		=ISNULL(T.PlanMonth,'')
		AND ISNULL(S.[State],'')		=ISNULL(T.[State],'')
		AND ISNULL(S.[Product Sold],'')	=ISNULL(T.ProductSold ,'')
		AND ISNULL(S.Plan_Type,'')		=ISNULL(T.Plan_Type,'')
		AND S.ID						=T.ID
		AND
		(
			S.Rate !=T.Rate
			OR S.Admin_Fee !=T.AdminFee 
			OR S.Commission!= T. Commission
			OR S.Mthly_Rate_rnl!= T.MthlyRateRnl 
			OR S.Admin_Fee_Mnth_Rnl!= T.AdminFeeMnthRnl
			OR ISNULL(S.Annual_Rate_Rnl,0)!= ISNULL(T.AnnualRateRnl,0)
			OR S.Admin_Fee_Rnl!= T.AdminFeeRnl 
			OR S.Renewal_anl!= T.RenewalAnl
			OR S.FinalProduct!= T.FinalProduct
		)
	)

/*	
	;WITH Dup AS
	(
	SELECT	RN = ROW_NUMBER() OVER (PARTITION BY [ID] ORDER BY PlanMonth DESC), *
	FROM	dbo.CarrierRateCard
	) 
	DELETE FROM Dup WHERE RN > 1
*/	

	UPDATE A
	SET		VRSN_END_DTS = COALESCE(next_vrsn_start_dts,@Vrsn_End_Date)
    	FROM dbo.CarrierRateCard A 
    	INNER JOIN 
    	(
       		SELECT 
				Carrier,
				PlanYear,
				PlanMonth,
				State,
				ProductSold,
				Plan_Type,
				VRSN_SRT_DTS,
				VRSN_END_DTS,
				ID,
				LEAD(VRSN_SRT_DTS,1) OVER (Partition BY Carrier,PlanYear,PlanMonth,[State],ProductSold,Plan_Type,ID ORDER BY VRSN_END_DTS ) next_vrsn_start_dts 
        	FROM dbo.CarrierRateCard
	  	) CTE 
		ON  CTE.Carrier						=A.Carrier 
        AND CTE.[PlanYear]					=A.PlanYear
		AND ISNULL(CTE.PlanMonth,'')		=ISNULL(A.PlanMonth,'')
		AND ISNULL(CTE.[State],'')			=ISNULL(A.[State],'')
		AND ISNULL(CTE.[ProductSold],'')	=ISNULL(A.ProductSold ,'')
		AND ISNULL(CTE.Plan_Type,'')		=ISNULL(A.Plan_Type,'')
        AND CTE.VRSN_SRT_DTS				=A.VRSN_SRT_DTS
		AND CTE.ID							=A.ID


    --Updates the details of the current job on successful completion of incremental load
    UPDATE dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed'
	WHERE TableName = 'CarrierRateCard'
	AND JobStatus 	= 'In Progress'
	AND Start_DTS   = @Run_DTS
	
END
