USE [PROD_REPORTING_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_Contacts_Agg_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'Contacts_Agg'
	AND JobName		= 'Job.Contacts_Agg_Curated'
	AND JobStatus 	= 'Completed'
	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.Contacts_Agg_Curated',
		'Contacts_Agg',
		@Run_DTS,
		NULL,
		'In Progress'
	)

DELETE FROM dbo.Contacts_Agg
WHERE  CallDate BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)

INSERT INTO dbo.Contacts_Agg
SELECT 
    CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(ContactsAgg.CallDate, '|'
                                               , ContactsAgg.SourceType, '|'
                                               , ContactsAgg.LanguageType, '|'
                                               , ContactsAgg.LeadType, '|'
                                               , ContactsAgg.LeadSourceType,'|'
                                               , ContactsAgg.LeadSourceCostType, '|'
                                               , ContactsAgg.AgentTenure, '|'
                                               , coalesce(Sites.Descr, ''), '|'
                                               , coalesce(ContactsAgg.Site, ''), '|'
                                               , ContactsAgg.Campaign, '|'
                                               , ContactsAgg.Channel, '|'
                                               , ContactsAgg.SubChannel, '|' 
											   , ContactsAgg.SupervisorId, '|'
                                               , ContactsAgg.SubUnit, '|'
                                               , ContactsAgg.LeadHandleType)), 2) as Id


     , ContactsAgg.CallDate
     , ContactsAgg.SourceType
     , ContactsAgg.LanguageType
     , ContactsAgg.LeadType
     , ContactsAgg.LeadSourceType
     , ContactsAgg.LeadSourceCostType
     , ContactsAgg.AgentTenure
     , ContactsAgg.site
     , Sites.Id as CleanedSite
     , Sites.Descr as Community
     , ContactsAgg.Campaign
	 --, ContactsAgg.State
	 --, ContactsAgg.CostTier
     , ContactsAgg.Agents
     , ContactsAgg.Contacts
	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'Reporting DB' AS SOURCE_SYS_NAME
	 , ContactsAgg.Channel
     , ContactsAgg.SubChannel
     , ContactsAgg.LeadHandleType
FROM (
        SELECT
              cast(CallDate as date) as CallDate
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType
            , AgentTenure
            , site
            , Campaign
			, SupervisorId
            , ISNULL(SubUnit,'') SubUnit
			--, State
			--, CostTier
            , count(distinct AgentId) as Agents
            , count(distinct BillableContact) as Contacts
			, Channel
			, SubChannel
            , LeadHandleType
        FROM PROD_FOUNDATION_DB.dbo.Contacts_Detail(NOLOCK) as Contacts
        WHERE BillableContact IS NOT NULL AND
				(
				CONVERT(DATE, CallDate) BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)
				)
        GROUP by cast(CallDate as date)
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType
            , AgentTenure
            , site
            , Campaign
			, SupervisorId
            , ISNULL(SubUnit,'') 
			--, State
			--, CostTier
			, Channel
			, SubChannel
            , LeadHandleType
        ) as ContactsAgg
LEFT JOIN PROD_FOUNDATION_DB.dbo.Sites(nolock) as Sites ON (Sites.Id = ContactsAgg.Site)


	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'Contacts_Agg'
	AND JobStatus 	= 'In Progress'
	AND START_DTS	= @Run_DTS
	
END

