USE [PROD_REPORTING_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_Contacts_Source_Agg_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'Contacts_Source_Agg' 
	AND JobName		= 'Job.Contacts_Source_Agg_Curated'
	AND JobStatus 	= 'Completed'

	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.Contacts_Source_Agg_Curated',
		'Contacts_Source_Agg',
		@Run_DTS,
		NULL,
		'In Progress'
	)

DELETE FROM dbo.[Contacts_Source_Agg]
WHERE CallDate BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)

INSERT INTO dbo.[Contacts_Source_Agg]
SELECT CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(ContactsAgg.CallDate, '|'
                                                    , ContactsAgg.SourceType, '|'
                                                    , ContactsAgg.LanguageType, '|'
                                                    , ContactsAgg.LeadType, '|'
                                                    , ContactsAgg.LeadSourceType,'|'
                                                    , ContactsAgg.LeadSourceCostType, '|'
                                                    , ContactsAgg.AgentTenure, '|'
                                                    , coalesce(Sites.Descr, ''), '|'
                                                    , coalesce(ContactsAgg.Site, ''), '|'
                                                    , ContactsAgg.Campaign, '|'
												    , ContactsAgg.Channel, '|'
												    , ContactsAgg.SubChannel, '|' 
												    , ContactsAgg.SupervisorId, '|' 
												    , ContactsAgg.SubUnit, '|'
													, ContactsAgg.LeadHandleType)), 2) as Id

     , CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(ContactsAgg.CallDate, '|'
                                                    , ContactsAgg.SourceType, '|'
                                                    , ContactsAgg.LanguageType, '|'
                                                    , ContactsAgg.LeadType, '|'
                                                    , ContactsAgg.LeadSourceType,'|'
                                                    , ContactsAgg.LeadSourceCostType, '|'
                                                    , ContactsAgg.AgentTenure, '|'
                                                    , coalesce(Sites.Descr, ''), '|'
                                                    , coalesce(ContactsAgg.Site, ''), '|'
                                                    , ContactsAgg.Campaign, '|'
												    , coalesce(ContactsAgg.OS3, 'Untraceable'), '|'
												    , coalesce(ContactsAgg.Source, 'Untraceable'), '|'
												    , coalesce(ContactsAgg.SourceName, 'Untraceable'), '|'
												    , coalesce(ContactsAgg.State, 'Untraceable'), '|'
												    , coalesce(ContactsAgg.CostTier, 'Untraceable'), '|'
                                                    , ContactsAgg.Channel, '|'
                                                    , ContactsAgg.SubChannel, '|' 
													, ContactsAgg.SupervisorId, '|' 
                                                    , ContactsAgg.SubUnit, '|'
													, ContactsAgg.LeadHandleType)), 2) as SourceKey

     , ContactsAgg.CallDate
     , ContactsAgg.SourceType
	 , CASE WHEN LEN(ContactsAgg.Source) = 3 THEN ContactsAgg.Source
			  WHEN ContactsAgg.Source = 'DGS (outbound)' THEN 'Digital Globe Services-Outbound'
			  WHEN CHARINDEX('-', ContactsAgg.Source) IN ( 3,4,5 ) THEN SUBSTRING(ContactsAgg.Source, 1, 3)
			  WHEN CHARINDEX('(', ContactsAgg.Source) IN ( 3,4,5 ) THEN SUBSTRING(ContactsAgg.Source, 1, 3)
			  ELSE ContactsAgg.Source END AS Source
	 , ContactsAgg.SourceName
	 , ContactsAgg.OS3
     , ContactsAgg.LanguageType
     , ContactsAgg.LeadType
     , ContactsAgg.LeadSourceType
     , ContactsAgg.LeadSourceCostType
     , ContactsAgg.AgentTenure
     , Sites.Descr as Community
     , ContactsAgg.site
     , ContactsAgg.Campaign
	 , ContactsAgg.State
	 , ContactsAgg.CostTier
	 , ContactsAgg.Agents
     , ContactsAgg.Contacts

	 , @Run_DTS			AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS			AS	INSERT_DTS
	 , 'Standard'		AS INSTANT_ST_NM
	 , 'Reporting DB'	AS SOURCE_SYS_NAME
	 , ContactsAgg.Channel
     , ContactsAgg.SubChannel
	 , ContactsAgg.LeadHandleType
FROM (
        select cast(CallDate as date) as CallDate
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType
            , site
            , Campaign
            , AgentTenure
            , count(distinct BillableContact) as Contacts
			,CASE WHEN LEN(Contacts.Source) = 3 THEN Contacts.Source
			  WHEN Contacts.Source = 'DGS (outbound)' THEN 'Digital Globe Services-Outbound'
			  WHEN CHARINDEX('-', Contacts.Source) IN ( 3,4,5 ) THEN SUBSTRING(Contacts.Source, 1, 3)
			  WHEN CHARINDEX('(', Contacts.Source) IN ( 3,4,5 ) THEN SUBSTRING(Contacts.Source, 1, 3)
			  ELSE Contacts.Source END AS Source
			, SourceName
			, OS3
			, State
			, CostTier
			, SupervisorId
            , ISNULL(SubUnit,'') SubUnit
			, count(distinct agentid) as Agents
			, Channel
			, SubChannel
            , LeadHandleType
        from PROD_FOUNDATION_DB.dbo.Contacts_Detail as Contacts with(nolock)
        where BillableContact is not null AND
				(
				CONVERT(DATE, CallDate) BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)
				)
        GROUP BY cast(CallDate as date)
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType
            , site
            , Campaign
            , AgentTenure
			, CASE WHEN LEN(Contacts.Source) = 3 THEN Contacts.Source
			  WHEN Contacts.Source = 'DGS (outbound)' THEN 'Digital Globe Services-Outbound'
			  WHEN CHARINDEX('-', Contacts.Source) IN ( 3,4,5 ) THEN SUBSTRING(Contacts.Source, 1, 3)
			  WHEN CHARINDEX('(', Contacts.Source) IN ( 3,4,5 ) THEN SUBSTRING(Contacts.Source, 1, 3)
			  ELSE Contacts.Source END 
			, SourceName
			, OS3
			, State
			, CostTier
			, SupervisorId
            , ISNULL(SubUnit,'')
			, Channel
			, SubChannel
            , LeadHandleType
        ) as ContactsAgg
left join PROD_FOUNDATION_DB.dbo.Sites as Sites ON (Sites.Id = ContactsAgg.site)


	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'Contacts_Source_Agg'
	AND JobStatus 	= 'In Progress'
	AND JobName		= 'Job.Contacts_Source_Agg_Curated'
	AND START_DTS	= @Run_DTS
	
END

