USE [PROD_FOUNDATION_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_Contacts_Details_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
​
BEGIN
    DECLARE @MaxDate DATETIME2
    DECLARE @Run_DTS DATETIME2
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'
​
    SELECT	@MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
    FROM	BatchControl 
	WHERE	JobName		='Job.Contacts_Details_Syndicated' 
		AND JobStatus		='Completed'

	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

	Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
​
    --Inserts the details of the current job to batch control table
    INSERT INTO dbo.BatchControl 
    (
        JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
    ) 
    VALUES 
    (
        'Job.Contacts_Details_Syndicated'
        ,'Contacts_Details'
        ,@RUN_DTS
        ,NULL
        ,'In Progress'
    )

	IF OBJECT_ID('Tempdb..#rpttrak') IS NOT NULL
	DROP TABLE #rpttrak;

	SELECT	* INTO #rpttrak
	FROM     WEBDIALER.dbo.rpttrak with(nolock)
	WHERE	CONVERT(DATE, CallDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)
	AND campaign in('ETQ','ECB')

		
	DELETE FROM [dbo].[Contacts_Detail]
	WHERE	CONVERT(DATE, CallDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)


INSERT INTO [dbo].[Contacts_Detail]
SELECT DISTINCT 
    contacts.callid,
    contacts.uniqueid,
    contacts.agentid,
    contacts.number,
    contacts.dnisdigits,
    contacts.campaign,
    contacts.termcd,
    contacts.calldate,
    contacts.starttime,
    contacts.waittime,
    contacts.talktime,
    contacts.holdtime,
    contacts.queuestarttime,
    contacts.endtime,

    contacts.AgentName,
    contacts.AgentActiveStatus,
    contacts.Production_StartDate as ProductionStartDate,
    contacts.site,
    contacts.SubUnit,
    contacts.SupervisorId,
    case when contacts.acdgroup like 'INT_SPA%'
           or contacts.acdgroup like 'INT_MKTS%'
           or contacts.acdgroup like '%SPANISH%' then 'ES'

         when contacts.SubUnit = 'Spanish' then 'ES'
         when sources.LanguageType = 'SPANISH' then 'ES' else 'EN' end as LanguageType,
    
    leads.Os3_r,
    CASE         
        WHEN Leads.Os3_r like '%_2T%' and len(Leads.Os3_r)>6 THEN 'PreQual'
        WHEN LEN(leads.os3_r) = 3 OR LEN(leads.os3_r) = 10 THEN 'Regular'
        WHEN RIGHT(leads.os3_r,4) LIKE '_R%C' THEN 'Recycled' 
        WHEN RIGHT(leads.os3_r,4) LIKE '_ABN' THEN 'Abandoned' 
        WHEN RIGHT(leads.os3_r,4) IN ('_AET','_ETE','_ETM','_ETR','_REL','_RET') THEN 'Retention'
        WHEN sources.Id is null OR leads.os3_r is null OR len(leads.os3_r)=0 then 'Untraceable'
        ELSE 'Others' END as LeadHandleType,

    sources.OS3,
    sources.Source,
    sources.SourceName,
    sources.subcode,
    sources.LanguageType as SourceLangauge,

    case when len(leads.Os3_r) = 0 or leads.Os3_r is null or sources.id is null then 'Untraceable'
         else sources.SourceType end as SourceType,

    case when sources.SourceType = 'Online Marketing - Affiliates' and leads.UniqueId like 'CRMIB%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Inbound'
         when sources.SourceType = 'Online Marketing - Affiliates' and leads.UniqueId like 'IADL%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Outbound'
         else coalesce(Sources.LeadSourceType, 'Miscellaneous') end as LeadType,

    case when sources.LeadSourceCostType like '%Internal%' then 'Internal'
         when sources.LeadSourceCostType like '%External%' then 'External'
         else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') end as LeadSourceType,
     
    case when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound Affiliates'
         when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound Affiliates'
         else coalesce(sources.LeadSourceCostType, 'Miscellaneous') end as LeadSourceCostType,

    case when Contacts.AgentDays between 0 and 30 then '1-30 Days'
         when Contacts.AgentDays between 31 and 60 then '31-60 Days'
         when Contacts.AgentDays between 61 and 90 then '61-90 Days'
         when Contacts.AgentDays between 91 and 180 then '91-180 Days'
         when Contacts.AgentDays between 181 and 365 then '181-365 Days'
         when Contacts.AgentDays between 366 and 730 then '1-2 Years'
         when Contacts.AgentDays >= 731 then '2+ Years'
         else 'Miscellaneous' end as AgentTenure,
    
    case when sources.SourceType IN ('DRTV', 'Online Marketing - Affiliates', 'Online Marketing - NonAffiliates', 'Online Marketing - Facebook')
            and contacts.Number = leads.Tel then contacts.callid
         when sources.Sourcetype IN ('ADL', 'Low Cost ADL', 'Primerica (Referrals)') then contacts.callid
         when (len(leads.Os3_r) = 0 or leads.Os3_r is null or sources.id is null) 
         --and contacts.termcd not in ('RO',DM') -- Removed to match counts with DB4
         and contacts.Number = leads.Tel then contacts.callid
         end as BillableContact

	, COALESCE(leads.state, cc.State) AS State
	, Sources.CostTier
	, @Run_DTS AS VRSN_SRT_DTS
	, CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	, @Run_DTS AS	INSERT_DTS
	, 'Standard' AS INSTANT_ST_NM
	, 'WEBDIALER' AS SOURCE_SYS_NAME
	, sources.Channel
	, sources.SubChannel
    , contacts.Role

FROM (
        SELECT
            rpt.callid,
            rpt.uniqueid,
            rpt.agentid,
            rpt.number,
            rpt.dnisdigits,
            rpt.termcd,
            rpt.campaign,
            rpt.acdgroup,
            rpt.calldate,
            rpt.starttime,
            rpt.waittime,
            rpt.talktime,
            rpt.holdtime,
            rpt.queuestarttime,
            rpt.endtime,
            concat(agents.FirstName, ' ', agents.LastName) as AgentName,
            agents.IsActive as AgentActiveStatus,
            agents.SupervisorId,
            agents.Production_StartDate,
            agents.site,
            agents.SubUnit,
            agents.Role,
			DATEDIFF(day, agents.Production_StartDate, rpt.calldate) AgentDays
                        
        FROM 
		   #rpttrak rpt with(nolock)
        INNER JOIN 
            PROD_FOUNDATION_DB.dbo.ContactsLookup as lookup with(nolock) ON (rpt.Termcd = lookup.TermCD
                                                            AND coalesce(rpt.talktime, 0) >= lookup.TalkTime 
                                                            AND lookup.IsActive = 1)
        LEFT JOIN
            PROD_FOUNDATION_DB.dbo.Agents as agents with(nolock) ON (agents.Id = rpt.agentid
                                                                   AND convert(date,rpt.calldate) between convert(date,Agents.VRSN_SRT_DTS) AND convert(date,Agents.VRSN_END_DTS )
                                                                   and convert(date,rpt.calldate) <> convert(date,Agents.VRSN_END_DTS ))
		--WHERE rpt.campaign = 'ETQ'
    ) as contacts
INNER JOIN WEBDIALER.dbo.Campaign_ETQ as leads with(nolock) ON (leads.UniqueId = contacts.uniqueid AND campaign='ETQ')

LEFT JOIN  CRMDB..CityCodes CC with(nolock) ON CC.citycode= leads.AreaCode
LEFT JOIN  PROD_FOUNDATION_DB.dbo.LeadSourceFinal as sources with(nolock) ON ((LEFT(leads.os3_r,10) = sources.OS3 OR LEFT(leads.os3_r,3) = sources.OS3)
																AND ((cast(leads.imp_date as date) BETWEEN sources.StartDate AND sources.EndDate) OR sources.StartDate IS NULL))
	
	
select * into #MEDICAID from webdialer..metadata (nolock)
where project = 'ETQ_TFN_REPORT' and isnull(subcode,'') = 'MEDICAID'
--new TFNs added on 08/15/2023
select dnisnumber dnis into #MEDICAIDAll from crmdb..dnis (nolock) 
where AcdGroup = 'ECB_IVR'    
--new TFNs added on 08/15/2023
select * into #MEDICAIDNEWTFNS from #MEDICAIDAll where dnis not in (select dnis from #MEDICAID)
	
INSERT INTO [dbo].[Contacts_Detail]
SELECT DISTINCT 
    contacts.callid,
    contacts.uniqueid,
    contacts.agentid,
    contacts.number,
    contacts.dnisdigits,
    contacts.campaign,
    contacts.termcd,
    contacts.calldate,
    contacts.starttime,
    contacts.waittime,
    contacts.talktime,
    contacts.holdtime,
    contacts.queuestarttime,
    contacts.endtime,

    contacts.AgentName,
    contacts.AgentActiveStatus,
    contacts.Production_StartDate as ProductionStartDate,
    contacts.site,
    contacts.SubUnit,
    contacts.SupervisorId,
    case when contacts.acdgroup like 'INT_SPA%'
           or contacts.acdgroup like 'INT_MKTS%'
           or contacts.acdgroup like '%SPANISH%' then 'ES'

         when contacts.SubUnit = 'Spanish' then 'ES'
         when sources.LanguageType = 'SPANISH' then 'ES' else 'EN' end as LanguageType,
    
    leads.Os3_r,
    'PreQual' as LeadHandleType,

    sources.OS3,
    sources.Source,
    sources.SourceName,
    sources.subcode,
    sources.LanguageType as SourceLangauge,

    case when len(leads.Os3_r) = 0 or leads.Os3_r is null or sources.id is null then 'Untraceable'
         else sources.SourceType end as SourceType,

    case when leads.UniqueId like 'CRMIB%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Inbound'
         when leads.UniqueId like 'IADL%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Outbound'
         else coalesce(Sources.LeadSourceType, 'Miscellaneous') end as LeadType,

    case when sources.LeadSourceCostType like '%Internal%' then 'Internal'
         when sources.LeadSourceCostType like '%External%' then 'External'
         else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') end as LeadSourceType,
     
    case when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound Affiliates'
         when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound Affiliates'
         when sources.SourceType = 'Online Marketing - NonAffiliates' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound NonAffiliates'
         when sources.SourceType = 'Online Marketing - NonAffiliates' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound NonAffiliates'
         when sources.SourceType = 'Online Marketing - Facebook' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound Facebook'
         when sources.SourceType = 'Online Marketing - Facebook' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(leads.os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound Facebook'
         else coalesce(sources.LeadSourceCostType, 'Miscellaneous') end as LeadSourceCostType,

    case when Contacts.AgentDays between 0 and 30 then '1-30 Days'
         when Contacts.AgentDays between 31 and 60 then '31-60 Days'
         when Contacts.AgentDays between 61 and 90 then '61-90 Days'
         when Contacts.AgentDays between 91 and 180 then '91-180 Days'
         when Contacts.AgentDays between 181 and 365 then '181-365 Days'
         when Contacts.AgentDays between 366 and 730 then '1-2 Years'
         when Contacts.AgentDays >= 731 then '2+ Years'
         else 'Miscellaneous' end as AgentTenure,
    
    case when sources.SourceType IN ('DRTV', 'Online Marketing - Affiliates', 'Online Marketing - NonAffiliates', 'Online Marketing - Facebook')
            and contacts.Number = leads.Tel then contacts.callid
         end as BillableContact

	, COALESCE(leads.state, cc.State) AS State
	, Sources.CostTier
	, @Run_DTS AS VRSN_SRT_DTS
	, CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	, @Run_DTS AS	INSERT_DTS
	, 'Standard' AS INSTANT_ST_NM
	, 'WEBDIALER' AS SOURCE_SYS_NAME
	, sources.Channel
	, sources.SubChannel
    , contacts.Role

FROM (
        SELECT
            rpt.callid,
            rpt.uniqueid,
            rpt.agentid,
            rpt.number,
            rpt.dnisdigits,
            rpt.termcd,
            rpt.campaign,
            rpt.acdgroup,
            rpt.calldate,
            rpt.starttime,
            rpt.waittime,
            rpt.talktime,
            rpt.holdtime,
            rpt.queuestarttime,
            rpt.endtime,
            concat(agents.FirstName, ' ', agents.LastName) as AgentName,
            agents.IsActive as AgentActiveStatus,
            agents.SupervisorId,
            agents.Production_StartDate,
            agents.site,
            agents.SubUnit,
            agents.Role,
			DATEDIFF(day, agents.Production_StartDate, rpt.calldate) AgentDays
                        
        FROM 
		   #rpttrak rpt with(nolock)

        LEFT JOIN
            PROD_FOUNDATION_DB.dbo.Agents as agents with(nolock) ON (agents.Id = rpt.agentid
                                                                   AND convert(date,rpt.calldate) between convert(date,Agents.VRSN_SRT_DTS) AND convert(date,Agents.VRSN_END_DTS )
                                                                   and convert(date,rpt.calldate) <> convert(date,Agents.VRSN_END_DTS ))
		WHERE rpt.campaign = 'ECB'
		and 1=case when rpt.rptdate >='2023-09-14' and rpt.termcd ='LT' then 1 
				   when rpt.rptdate >'2023-02-15' and rpt.termcd in ('LT','NE','NI','RR','ZY','OC','UT') then 1 
				   else 0 end
    ) as contacts
INNER JOIN WEBDIALER.dbo.Campaign_ECB as leads with(nolock) ON (leads.UniqueId = contacts.uniqueid AND cast(leads.imp_date as date)>='2023-02-15')

LEFT JOIN  CRMDB..CityCodes CC with(nolock) ON CC.citycode= leads.AreaCode
LEFT JOIN  PROD_FOUNDATION_DB.dbo.LeadSourceFinal as sources with(nolock) ON ((LEFT(leads.os3_r,10) = sources.OS3 OR LEFT(leads.os3_r,3) = sources.OS3)
																AND ((cast(leads.imp_date as date) BETWEEN sources.StartDate AND sources.EndDate) OR sources.StartDate IS NULL))
INNER JOIN #MEDICAIDAll m on sources.OS3=m.dnis
-- Updating OS3,SourceType and Costier fields based on LeadSourceFinal table
UPDATE	cd
SET		cd.SourceType = Sources.SourceType,
		cd.OS3		  = Sources.OS3,
		cd.CostTier = Sources.CostTier,
		cd.Channel = Sources.Channel,
		cd.SubChannel = Sources.SubChannel
FROM 	PROD_FOUNDATION_DB..Contacts_Detail cd
		JOIN 
		(
			Select	OS3, CostTier, Channel, SubChannel,SourceType
			From	PROD_FOUNDATION_DB..LeadSourceFinal WITH(NOLOCK)
			Group By OS3, CostTier, Channel, SubChannel,SourceType
		)  Sources
		ON CONVERT(DATE, CallDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)
AND cd.CostTier IS NULL 
AND cd.SourceType = 'Untraceable'
AND (LEFT(cd.os3_r,10) = sources.OS3 OR LEFT(cd.os3_r,3) = sources.OS3)


--Updates the details of the current job on successful completion of incremental load
    UPDATE BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed'
	WHERE TableName = 'Contacts_Details'
	AND JobStatus 	= 'In Progress'
	AND Start_DTS   = @Run_DTS

	IF OBJECT_ID('Tempdb..#rpttrak') IS NOT NULL DROP TABLE #rpttrak;
	IF OBJECT_ID('tempdb..#Medicaid', 'u') IS NOT NULL DROP TABLE #Medicaid;
    IF OBJECT_ID('tempdb..#Medicaidall', 'u') IS NOT NULL DROP TABLE #Medicaidall;	
    IF OBJECT_ID('tempdb..#MEDICAIDNEWTFNS', 'u') IS NOT NULL DROP TABLE #MEDICAIDNEWTFNS;
END

