USE [PROD_REPORTING_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_Dashboard_Report_Agents_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'Dashboard_Report_Agents'
	AND JobName		= 'Job.Dashboard_Report_Agents_Curated'
	AND JobStatus 	= 'Completed'
	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.Dashboard_Report_Agents_Curated',
		'Dashboard_Report_Agents',
		@Run_DTS,
		NULL,
		'In Progress'
	)


	
DELETE FROM dbo.Dashboard_Report_Agents
WHERE [Date] BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)


INSERT INTO dbo.Dashboard_Report_Agents
SELECT OverallData.Id
     , OverallData.AgentKey
     , OverallData.[Date]
     , OverallData.[Date] as CalendarDate
     , OverallData.SourceType
     , OverallData.LanguageType
     , OverallData.LeadType
     , OverallData.LeadSourceType
     , OverallData.LeadSourceCostType
     , OverallData.AgentTenure
     , OverallData.Community
     , OverallData.[Site]
     , OverallData.CampaignId
     , OverallData.AgentId
     , OverallData.AgentName
     , OverallData.AgentActiveStatus
     , OverallData.Production_StartDate
     , OverallData.SupervisorId
     , OverallData.SubUnit 
     , Agents.FirstName+' '+Agents.LastName as SupervisorName
     , MAX(OverallData.SiteRate) SiteRate
     , SUM(OverallData.Leads) Leads
     , SUM(OverallData.LeadCost) LeadCost
     , SUM(OverallData.LeadCost_Original) LeadCost_Original
     , SUM(OverallData.Credit) Credit
     , SUM(OverallData.Contacts) Contacts
     , SUM(OverallData.GrossSales) GrossSales
     , SUM(OverallData.RevenueLTV) RevenueLTV
     , SUM(OverallData.ApprovedRevenue) ApprovedRevenue
     , SUM(OverallData.NetRevenueLTV) NetRevenueLTV
     , SUM(OverallData.TotalTalkTime) TotalTalkTime
     , SUM(OverallData.TotalWrapTime) TotalWrapTime
     , SUM(OverallData.TotalWaitTime) TotalWaitTime
     , SUM(OverallData.TotalTWWTime) TotalTWWTime
     , SUM(OverallData.TotalIdleTime ) TotalIdleTime
     
     , MAX(coalesce(AgentLogins.LoginDuration, 0)) as LoginDuration
     , MAX(coalesce(AgentBreaks.LunchBreakDuration, 0)) as LunchBreakDuration
     , MAX(coalesce(AgentBreaks.ScheduledBreakDuration, 0)) as ScheduledBreakDuration
     , MAX(coalesce(AgentBreaks.UnscheduledBreakDuration, 0)) as UnscheduledBreakDuration

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'Reporting DB' AS SOURCE_SYS_NAME
	 , OverallData.Channel
	 , OverallData.SubChannel
	 , sum(OverallData.New_Enrollment	) New_Enrollment
	 , sum(OverallData.Calc_Enrollment	) Calc_Enrollment
	 , sum(OverallData.Re_Enrollment	) Re_Enrollment
	 , sum(OverallData.Inv_Enrollment	) Inv_Enrollment
	 , sum(OverallData.Other_Enrollment	) Other_Enrollment
     , OverallData.Role
	 , SUM(isnull(OverallData.totalcalls,0)) TotalCalls
	 , SUM(isnull(OverallData.NoPlan,0)) NoPlan
	 , SUM(isnull(OverallData.WrongNumber,0)) WrongNumber
	 , SUM(isnull(OverallData.AgentAppClosed,0)) AgentAppClosed
	 , SUM(isnull(OverallData.BCRB,0)) BCRB
	 , SUM(isnull(OverallData.NotEngaged,0)) NotEngaged
     , case when SUM(CASE WHEN CONVERT(DATE, Scorecard.EvaluationDate) BETWEEN cast(dateadd(dd,(-1*datepart(dd,OverallData.Date))+1,OverallData.date) AS DATE) AND  overalldata.Date 
                          THEN EvalCount 
                          else 0 END 
                    ) > 0 
            then SUM(CASE WHEN CONVERT(DATE, Scorecard.EvaluationDate) BETWEEN cast(dateadd(dd,(-1*datepart(dd,OverallData.Date))+1,OverallData.date) AS DATE) AND  overalldata.Date 
                          THEN ScoreSum 
                          else 0 END)/SUM(CASE WHEN CONVERT(DATE, Scorecard.EvaluationDate) BETWEEN cast(dateadd(dd,(-1*datepart(dd,OverallData.Date))+1,OverallData.date) AS DATE) AND  overalldata.Date 
                          THEN EvalCount 
                          else 0 END)
            else 0 end QAMTD
     , case when SUM(CASE WHEN CONVERT(DATE, Scorecard.EvaluationDate) BETWEEN CONVERT(DATE, DATEADD(DD, -30, OverallData.Date)) AND OverallData.Date 
                          THEN EvalCount 
                          else 0 END
                    ) > 0 
            then SUM(CASE WHEN CONVERT(DATE, Scorecard.EvaluationDate) BETWEEN CONVERT(DATE, DATEADD(DD, -30, OverallData.Date)) AND OverallData.Date 
                          THEN ScoreSum 
                          else 0 END)/SUM(CASE WHEN CONVERT(DATE, Scorecard.EvaluationDate) BETWEEN CONVERT(DATE, DATEADD(DD, -30, OverallData.Date)) AND OverallData.Date 
                          THEN EvalCount 
                          else 0 END)
            else 0 end QA30Days
     , SUM(isnull(OverallData.NeverPaid,0)) NeverPaid
     , SUM(isnull(OverallData.Paid,0)) Paid
     , SUM(isnull(OverallData.ChargedBack,0)) ChargedBack
     , OverallData.SEPCode
	 , OverallData.TrainerID
	 , Trainer.TrainerName
	 , OverallData.RecruiterName	
     , SUM(OverallData.TotalActualWaitTime) TotalActualWaitTime	
     , MAX(OverallData.AllBreaksDuration) AllBreaksDuration
     , SUM(OverallData.RingTime) RingTime	
     , SUM(OverallData.PreviewTime) PreviewTime	
     , LeadHandleType
     , SUM(OverallData.ReceptionTime) ReceptionTime	
     , SUM(OverallData.Cost) Cost
     , SUM(OverallData.TransferCost) TransferCost
     , SUM(OverallData.ReceptionWage) ReceptionWage
     , SUM(isnull(OverallData.Unworkable,0)) Unworkable
	 , SUM(isnull(OverallData.Active,0)) Active
	 , SUM(isnull(OverallData.Refusals,0)) Refusals
	 , SUM(isnull(OverallData.Sales,0)) Sales
	 , SUM(isnull(OverallData.OTHER,0)) OTHER
     , SUM(isnull(OverallData.NoContact,0)) NoContact
     , SUM(OverallData.SubmittedSales) SubmittedSales
FROM (
        select COALESCE(Leads.Id, COALESCE(Contacts.Id, COALESCE(Sales.Id, Wages.Id))) as Id
            , COALESCE(Leads.AgentKey, COALESCE(Contacts.AgentKey, COALESCE(Sales.AgentKey, Wages.AgentKey))) as AgentKey
            , COALESCE(Leads.ImpDate, COALESCE(Contacts.CallDate, COALESCE(Sales.SaleDate, Wages.CallDate))) as [Date]

            , COALESCE(Leads.SourceType, COALESCE(Contacts.SourceType, COALESCE(Sales.SourceType, Wages.SourceType))) as SourceType
            , COALESCE(Leads.LanguageType, COALESCE(Contacts.LanguageType, COALESCE(Sales.LanguageType, Wages.LanguageType))) as LanguageType
            , COALESCE(Leads.LeadType, COALESCE(Contacts.LeadType, COALESCE(Sales.LeadType, Wages.LeadType))) as LeadType
            , COALESCE(Leads.LeadSourceType, COALESCE(Contacts.LeadSourceType, COALESCE(Sales.LeadSourceType, Wages.LeadSourceType))) as LeadSourceType
            , COALESCE(Leads.LeadSourceCostType, COALESCE(Contacts.LeadSourceCostType, COALESCE(Sales.LeadSourceCostType, Wages.LeadSourceCostType))) as LeadSourceCostType
            , COALESCE(Leads.AgentTenure, COALESCE(Contacts.AgentTenure, COALESCE(Sales.AgentTenure, Wages.AgentTenure))) as AgentTenure
            , COALESCE(Leads.Community, COALESCE(Contacts.Community, COALESCE(Sales.Community, Wages.Community))) as Community
            , COALESCE(Leads.Site, COALESCE(Contacts.Site, COALESCE(Sales.Site, Wages.Site))) as Site
          --   , COALESCE(Leads.CleanedSite, COALESCE(Contacts.CleanedSite, Wages.CleanedSite)) as CleanedSite
            , COALESCE(Leads.CampaignId, COALESCE(Contacts.Campaign, COALESCE(Sales.CampaignId, Wages.Campaign))) as CampaignId
            , COALESCE(Leads.agentid, COALESCE(Contacts.agentid, COALESCE(Sales.agentid, Wages.agentid))) as AgentId
            , COALESCE(Leads.AgentName, COALESCE(Contacts.AgentName, COALESCE(Sales.AgentName, Wages.AgentName))) as AgentName
            , COALESCE(Leads.AgentActiveStatus, COALESCE(Contacts.AgentActiveStatus, COALESCE(Sales.AgentActiveStatus, Wages.AgentActiveStatus))) as AgentActiveStatus
            , COALESCE(Leads.Production_StartDate, COALESCE(Contacts.ProductionStartDate, COALESCE(Sales.Production_StartDate, Wages.Production_StartDate))) as Production_StartDate
            , COALESCE(Leads.SupervisorId, COALESCE(Contacts.SupervisorId, COALESCE(Sales.SupervisorId, Wages.SupervisorId))) as SupervisorId
            , COALESCE(Leads.SubUnit, COALESCE(Contacts.SubUnit, COALESCE(Sales.SubUnit, Wages.SubUnit))) as SubUnit
            
            , coalesce(Wages.Rate, 0) as SiteRate
            
            , coalesce(Leads.Leads, 0) as Leads
            , coalesce(Leads.LeadCost, 0) as LeadCost
            , coalesce(Leads.LeadCost_Original, 0) as LeadCost_Original
            , coalesce(Leads.Credit, 0) as Credit
            
            , coalesce(Contacts.Contacts, 0) as Contacts
            
            , coalesce(Sales.GrossSales, 0) as GrossSales
            , coalesce(Sales.RevenueLTV, 0) as RevenueLTV
            , coalesce(Sales.ApprovedRevenue, 0) as ApprovedRevenue
            , coalesce(Sales.NetRevenueLTV, 0) as NetRevenueLTV
            
            , coalesce(Wages.TotalTalkTime, 0) as TotalTalkTime
            , coalesce(Wages.TotalWrapTime, 0) as TotalWrapTime
            , coalesce(Wages.TotalWaitTime, 0) as TotalWaitTime
            , coalesce(Wages.TotalTWWTime, 0) as TotalTWWTime
            , coalesce(Wages.TotalIdleTime, 0) as TotalIdleTime            
			, coalesce(Leads.Channel,  coalesce(Contacts.Channel,coalesce(Sales.Channel,Wages.Channel))) as Channel
			, coalesce(Leads.SubChannel,coalesce(Contacts.SubChannel,coalesce(Sales.SubChannel,Wages.SubChannel))) as  SubChannel
			, coalesce(Sales.New_Enrollment, 0) as New_Enrollment
			, coalesce(Sales.Calc_Enrollment, 0) as Calc_Enrollment
			, coalesce(Sales.Re_Enrollment, 0) as Re_Enrollment
			, coalesce(Sales.Inv_Enrollment, 0) as Inv_Enrollment
			, coalesce(Sales.Other_Enrollment, 0) as Other_Enrollment
            , COALESCE(Leads.Role, COALESCE(Contacts.Role, COALESCE(Sales.Role, Wages.Role))) as Role
			, coalesce(Wages.Calls, 0) as TotalCalls
			, coalesce(Wages.NoPlan, 0) as NoPlan
			, coalesce(Wages.WrongNumber, 0) as WrongNumber
			, coalesce(Wages.AgentAppClosed, 0) as AgentAppClosed
			, coalesce(Wages.BCRB, 0) as BCRB
			, coalesce(Wages.NotEngaged, 0) as NotEngaged
            , coalesce(Sales.NeverPaid, 0) as NeverPaid
			, coalesce(Sales.Paid, 0) as Paid
			, coalesce(Sales.ChargedBack, 0) as ChargedBack
			, coalesce(Sales.SEPCode, NULL) as SEPCode
			, coalesce(Sales.TrainerID, NULL) as TrainerID
			, coalesce(Sales.RecruiterName, NULL) as RecruiterName	
            , coalesce(Wages.TotalActualWaitTime, 0) as TotalActualWaitTime	
            , coalesce(Wages.AllBreaksDuration, 0) as AllBreaksDuration
            , coalesce(Wages.RingTime, 0) as RingTime	
            , coalesce(Wages.PreviewTime, 0) as PreviewTime	
            , COALESCE(Leads.LeadHandleType, COALESCE(Contacts.LeadHandleType, COALESCE(Sales.LeadHandleType, Wages.LeadHandleType))) as LeadHandleType
            , coalesce(Wages.ReceptionTime, 0) as ReceptionTime	
            , coalesce(Leads.Cost, 0) as Cost
            , coalesce(Leads.TransferCost, 0) as TransferCost
            , coalesce(Leads.ReceptionWage, 0) as ReceptionWage
            , coalesce(Wages.NoContact,0) NoContact
            , coalesce(Wages.Unworkable,0) Unworkable
	        , coalesce(Wages.Active,0) Active
	        , coalesce(Wages.Refusals,0) Refusals
	        , coalesce(Wages.Sales,0) Sales
	        , coalesce(Wages.OTHER,0) OTHER
            , coalesce(Sales.SubmittedSales, 0) as SubmittedSales
            
        from PROD_REPORTING_DB.dbo.LeadsCost_Agents_Agg as Leads
        full outer join PROD_REPORTING_DB.dbo.Contacts_Agents_Agg as Contacts ON (Leads.AgentKey = Contacts.AgentKey and Contacts.Contacts is not null)
        full outer join PROD_REPORTING_DB.dbo.SalesRevenue_Agents_Agg as Sales ON (Leads.AgentKey = Sales.AgentKey and Sales.GrossSales is not null)
        full outer join PROD_REPORTING_DB.dbo.Wages_Agents_Agg as Wages ON (Leads.AgentKey = Wages.AgentKey 
                                                                       AND Wages.Site is not null
                                                                       AND (Wages.TotalTWWTime > 0 or Wages.TotalIdleTime > 0))

     ) as OverallData
     left join (select distinct Id, FirstName, LastName from PROD_FOUNDATION_DB..Agents (NOLOCK) WHERE Agents.VRSN_END_DTS='9999-12-31 00:00:00.000' ) as Agents on (Agents.Id = OverallData.SupervisorId)
     left join (select distinct ID, FirstName+' '+LastName TrainerName from PROD_FOUNDATION_DB..Agents) as Trainer on (OverallData.TrainerID = Trainer.ID)
     left join (
                    select AgentID
                        , rptdate as LoginDate
                        , sum(isnull(LoginSeconds, 0)) as LoginDuration

                    from WEBDIALER.dbo.rptlogin
                    where rptdate BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
                    group by AgentId
                        , rptdate

                ) as AgentLogins on (OverallData.AgentId = AgentLogins.AgentID and OverallData.Date = AgentLogins.LoginDate)
     left join (
                select AgentID
                    , cast(rptdate as date) as BreakDate
                    , sum(case when BreakCode IN ('50', 'Lunch', 'Lunch - 45') then isnull(isnull(BreakEnd, 0) -  isnull(BreakStart,0), 0) end) as LunchBreakDuration
                    , sum(case when BreakCode = 'Scheduled Break' then  isnull(isnull(BreakEnd, 0) -  isnull(BreakStart,0), 0) end) as ScheduledBreakDuration
                    , sum(case when BreakCode = 'Unscheduled Break' then  isnull(isnull(BreakEnd, 0) -  isnull(BreakStart,0), 0) end) as UnscheduledBreakDuration

                FROM WEBDIALER.dbo.rptbreak
                where cast(rptdate as date) BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
                GROUP by AgentID
                    , cast(rptdate as date)
            ) as AgentBreaks on (OverallData.AgentId = AgentBreaks.AgentID and OverallData.Date = AgentBreaks.BreakDate)
     left join (
                SELECT  CAST(evaluationdate as date) EvaluationDate,AgentId,SUM(OverallScore) ScoreSum,COUNT(*) EvalCount
				FROM    ScoreCard.dbo.Evaluations eval WITH (NOLOCK)
				WHERE   CAST(evaluationdate as date) BETWEEN DATEADD( DAY, -32, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
						AND IsActive=1
				GROUP BY CAST(evaluationdate as date),AgentId
			) as ScoreCard on (ScoreCard.EvaluationDate = OverallData.date and OverallData.AgentId = ScoreCard.AgentID )  

  	 WHERE OverallData.[Date] BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE,@Run_DTS)
     GROUP BY OverallData.Id
	 , OverallData.AgentKey
     , OverallData.[Date]  
     , OverallData.SourceType
     , OverallData.LanguageType
     , OverallData.LeadType
     , OverallData.LeadSourceType
     , OverallData.LeadSourceCostType
     , OverallData.AgentTenure
     , OverallData.Community
     , OverallData.[Site]
     , OverallData.CampaignId
     , OverallData.AgentId
     , OverallData.AgentName
     , OverallData.AgentActiveStatus
     , OverallData.Production_StartDate
     , OverallData.SupervisorId
     , OverallData.SubUnit
     , Agents.FirstName+' '+Agents.LastName
	 , OverallData.Channel
	 , OverallData.SubChannel
     , OverallData.Role
     , OverallData.SEPCode
	 , OverallData.TrainerID 
	 , Trainer.TrainerName
	 , OverallData.RecruiterName     	
     , OverallData.LeadHandleType


   

	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'Dashboard_Report_Agents'
	AND JobStatus 	= 'In Progress'
	AND JobName		= 'Job.Dashboard_Report_Agents_Curated'
	AND START_DTS	= @Run_DTS
	
END
