USE [PROD_REPORTING_DB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_Dashboard_Report_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'Dashboard_Report'
	AND JobName		= 'Job.Dashboard_Report_Curated'
	AND JobStatus 	= 'Completed'
	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.Dashboard_Report_Curated',
		'Dashboard_Report',
		@Run_DTS,
		NULL,
		'In Progress'
	)


	
DELETE FROM dbo.Dashboard_Report
WHERE [Date] BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)


INSERT INTO PROD_REPORTING_DB.dbo.Dashboard_Report
SELECT OverallData.Id
     , OverallData.[Date]
     , OverallData.[Date] as CalendarDate
    --  , OverallData.OS3
    --  , OverallData.Source
    --  , OverallData.SourceName
     , OverallData.SourceType
     , OverallData.LanguageType
     , OverallData.LeadType
     , OverallData.LeadSourceType
     , OverallData.LeadSourceCostType
     , OverallData.AgentTenure
     , OverallData.Community
     , OverallData.[Site]
     , CASE WHEN  OverallData.Community IS NOT NULL THEN OverallData.[Site] ELSE OverallData.Community END  AS CleanedSite 
     , OverallData.CampaignId
     , OverallData.SiteRate
     , OverallData.Leads
     -- , OverallData.LeadAgents
     , OverallData.LeadCost
     , OverallData.LeadCost_Original
     , OverallData.Credit
     , OverallData.Contacts
     -- , OverallData.ContactAgents
     , OverallData.GrossSales
     , OverallData.RevenueLTV
     , OverallData.ApprovedRevenue
     , OverallData.NetRevenueLTV
     -- , OverallData.SaleAgents
     -- , OverallData.WageAgents
     -- , OverallData.WageCalls
     , OverallData.TotalTalkTime
     , OverallData.TotalWrapTime
     , OverallData.TotalWaitTime
     , OverallData.TotalTWWTime 
     , OverallData.TotalIdleTime 

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'Reporting DB' AS SOURCE_SYS_NAME
	 ,  OverallData.Channel
	 ,  OverallData.SubChannel
     ,  LeadHandleType
     ,  OverallData.ReceptionTime ReceptionTime	
     ,  OverallData.Cost
     ,  OverallData.TransferCost
     ,  OverallData.ReceptionWage
     ,  OverallData.SubmittedSales
FROM (
        select COALESCE(Leads.Id, COALESCE(Contacts.Id, COALESCE(Sales.Id, Wages.Id))) as Id
            , COALESCE(Leads.ImpDate, COALESCE(Contacts.CallDate, COALESCE(Sales.SaleDate, Wages.CallDate))) as [Date]
            -- , COALESCE(Leads.OS3, COALESCE(Contacts.OS3, COALESCE(Sales.OS3, Wages.OS3))) as OS3
            -- , COALESCE(Leads.Source, COALESCE(Contacts.Source, COALESCE(Sales.Source, Wages.Source))) as Source
            -- , COALESCE(Leads.SourceName, COALESCE(Contacts.SourceName, COALESCE(Sales.SourceName, Wages.SourceName))) as SourceName
            , COALESCE(Leads.SourceType, COALESCE(Contacts.SourceType, COALESCE(Sales.SourceType, Wages.SourceType))) as SourceType
            , COALESCE(Leads.LanguageType, COALESCE(Contacts.LanguageType, COALESCE(Sales.LanguageType, Wages.LanguageType))) as LanguageType
            , COALESCE(Leads.LeadType, COALESCE(Contacts.LeadType, COALESCE(Sales.LeadType, Wages.LeadType))) as LeadType
            , COALESCE(Leads.LeadSourceType, COALESCE(Contacts.LeadSourceType, COALESCE(Sales.LeadSourceType, Wages.LeadSourceType))) as LeadSourceType
            , COALESCE(Leads.LeadSourceCostType, COALESCE(Contacts.LeadSourceCostType, COALESCE(Sales.LeadSourceCostType, Wages.LeadSourceCostType))) as LeadSourceCostType
            , COALESCE(Leads.AgentTenure, COALESCE(Contacts.AgentTenure, COALESCE(Sales.AgentTenure, Wages.AgentTenure))) as AgentTenure
            , COALESCE(Leads.Community, COALESCE(Contacts.Community, COALESCE(Sales.Community, Wages.Community))) as Community
            , COALESCE(Leads.Site, COALESCE(Contacts.Site, COALESCE(Sales.Site, Wages.Site))) as [Site]
           -- , COALESCE(Leads.CleanedSite, COALESCE(Contacts.CleanedSite, Wages.CleanedSite)) as CleanedSite
            , COALESCE(Leads.CampaignId, COALESCE(Contacts.Campaign, COALESCE(Sales.CampaignId, Wages.Campaign))) as CampaignId
            , coalesce(Wages.Rate, 0) as SiteRate
            , coalesce(Leads.Leads, 0) as Leads
          --   , coalesce(Leads.Agents, 0) as LeadAgents
            , coalesce(Leads.LeadCost, 0) as LeadCost
            , coalesce(Leads.LeadCost_Original, 0) as LeadCost_Original
            , coalesce(Leads.Credit, 0) as Credit
            , coalesce(Contacts.Contacts, 0) as Contacts
          --   , coalesce(Contacts.Agents, 0) as ContactAgents
            , coalesce(Sales.GrossSales, 0) as GrossSales
            , coalesce(Sales.RevenueLTV, 0) as RevenueLTV
            , coalesce(Sales.ApprovedRevenue, 0) as ApprovedRevenue
            , coalesce(Sales.NetRevenueLTV, 0) as NetRevenueLTV
          --   , coalesce(Sales.Agents, 0) as SaleAgents
          --   , coalesce(Wages.Agents, 0) as WageAgents
          --   , coalesce(Wages.Calls, 0) as WageCalls
            , coalesce(Wages.TotalTalkTime, 0) as TotalTalkTime
            , coalesce(Wages.TotalWrapTime, 0) as TotalWrapTime
            , coalesce(Wages.TotalWaitTime, 0) as TotalWaitTime
            , coalesce(Wages.TotalTWWTime, 0) as TotalTWWTime
            , coalesce(Wages.TotalIdleTime, 0) as TotalIdleTime
			, coalesce(Leads.Channel,  coalesce(Contacts.Channel,coalesce(Sales.Channel,Wages.Channel))) as Channel
			, coalesce(Leads.SubChannel,coalesce(Contacts.SubChannel,coalesce(Sales.SubChannel,Wages.SubChannel))) as  SubChannel
            , COALESCE(Leads.LeadHandleType, COALESCE(Contacts.LeadHandleType, COALESCE(Sales.LeadHandleType, Wages.LeadHandleType))) as LeadHandleType
            , coalesce(Wages.ReceptionTime, 0) as ReceptionTime	
            , coalesce(Leads.Cost, 0) as Cost
            , coalesce(Leads.TransferCost, 0) as TransferCost
            , coalesce(Leads.ReceptionWage, 0) as ReceptionWage
            , coalesce(Sales.SubmittedSales, 0) as SubmittedSales
        FROM PROD_REPORTING_DB.dbo.LeadsCost_Agg as Leads
        FULL OUTER JOIN PROD_REPORTING_DB.dbo.Contacts_Agg as Contacts ON (Leads.Id = Contacts.Id and Contacts.Contacts is not null)
        FULL OUTER JOIN PROD_REPORTING_DB.dbo.SalesRevenue_Agg as Sales ON (Leads.Id = Sales.Id and Sales.GrossSales is not null)
        FULL OUTER JOIN PROD_REPORTING_DB.dbo.Wages_Agg as Wages ON (Leads.Id = Wages.Id 
                                                                 AND Wages.Site IS NOT NULL
                                                                 AND (Wages.TotalTWWTime > 0 OR Wages.TotalIdleTime > 0))
		 

     ) as OverallData

	 WHERE [Date] BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE,@Run_DTS)


   

	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'Dashboard_Report'
	AND JobStatus 	= 'In Progress'
	AND JobName		= 'Job.Dashboard_Report_Curated'
	AND START_DTS	= @Run_DTS
	
END

