USE [PROD_REPORTING_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_LeadsCost_Agents_Agg_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
BEGIN

    DECLARE @MaxDate DATETIME
	DECLARE @Run_DTS DATETIME
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    -- Extracting the maximum date for the last successful run of the Job
    SELECT @MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
	FROM PROD_FOUNDATION_DB.dbo.BatchControl
	WHERE TableName = 'LeadsCost_Agents_Agg'
	AND JobName		= 'Job.LeadsCost_Agents_Agg_Curated'
	AND JobStatus 	= 'Completed'
	
	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

    Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
	
	-- Inserting a new entry into the BatchControl table before starting a fresh run
	INSERT INTO PROD_FOUNDATION_DB.dbo.BatchControl
	(
		JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
	)
	VALUES
	(
		'Job.LeadsCost_Agents_Agg_Curated',
		'LeadsCost_Agents_Agg',
		@Run_DTS,
		NULL,
		'In Progress'
	)

SELECT  Date, AgentId 
into #ExistingAgents
from   (select cast(impdate as date) date,agentid
		from PROD_FOUNDATION_DB..LeadsCost_Detail ld (nolock)
		where Cast(ld.impDate as date) BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
		AND Role = 'Agent'
        AND site<>'LHR'
		AND billableflag=1
		group by Cast(ld.impDate as date) , AgentId
		union 
		select Cast(cd.CallDate as date) Date,AgentId from	PROD_FOUNDATION_DB..Contacts_Detail cd (nolock)
		where Cast(cd.CallDate as date) BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
		AND Role = 'Agent'
        AND site<>'LHR'
		AND BillableContact is not null
		group by Cast(cd.CallDate  as date) , AgentId
		union 
		select Cast(sd.saleDate as date) Date,AgentId from	PROD_FOUNDATION_DB..SalesRevenue_Metrics sd (nolock)
		where Cast(sd.saleDate as date) BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
		AND Role = 'Agent'
        AND site<>'LHR'
		group by Cast(sd.saleDate as date) , AgentId
		union 
		select Cast(wd.CallDate as date) Date,AgentId from	PROD_FOUNDATION_DB..wages_Detail wd (nolock)
		where Cast(wd.CallDate as date) BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
		AND Role = 'Agent'
        AND site<>'LHR'
		group by Cast(wd.CallDate as date) , AgentId
	)a
	
DELETE FROM dbo.LeadsCost_Agents_Agg
WHERE ImpDate --BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)
				BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)

INSERT INTO dbo.LeadsCost_Agents_Agg
    SELECT CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(LeadsCost.ImpDate, '|'
                                                    , LeadsCost.SourceType, '|'
                                                    , LeadsCost.LanguageType, '|'
                                                    , LeadsCost.LeadType, '|'
                                                    , LeadsCost.LeadSourceType,'|'
                                                    , LeadsCost.LeadSourceCostType, '|'
                                                    , LeadsCost.AgentTenure, '|'
                                                    , coalesce(LeadsCost.Community, ''), '|'
                                                    , coalesce(LeadsCost.Site, ''), '|'
                                                    , LeadsCost.CampaignId, '|'
                                                    , LeadsCost.Channel, '|'
                                                    , LeadsCost.SubChannel, '|' 
                                                    , LeadsCost.SupervisorId, '|' 
                                                    , LeadsCost.SubUnit, '|' 
													, LeadsCost.LeadHandleType)), 2) as Id

     , CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(LeadsCost.ImpDate, '|'
                                                    , LeadsCost.SourceType, '|'
                                                    , LeadsCost.LanguageType, '|'
                                                    , LeadsCost.LeadType, '|'
                                                    , LeadsCost.LeadSourceType,'|'
                                                    , LeadsCost.LeadSourceCostType, '|'
                                                    , LeadsCost.AgentTenure, '|'
                                                    , coalesce(LeadsCost.Community, ''), '|'
                                                    , coalesce(LeadsCost.Site, ''), '|'
                                                    , LeadsCost.CampaignId, '|'
                                                    , LeadsCost.AgentId, '|'
                                                    , LeadsCost.AgentName, '|'
                                                    , LeadsCost.Channel, '|'
                                                    , LeadsCost.SubChannel, '|' 
                                                    , LeadsCost.SupervisorId, '|' 
                                                    , LeadsCost.SubUnit, '|' 
													, LeadsCost.LeadHandleType)), 2) as AgentKey
     , LeadsCost.ImpDate
    --  , LeadsCost.OS3
    --  , LeadsCost.Source
    --  , LeadsCost.SourceName
     , LeadsCost.SourceType
     , LeadsCost.LanguageType
     , LeadsCost.LeadType
     , LeadsCost.LeadSourceType
     , LeadsCost.LeadSourceCostType
     , LeadsCost.AgentTenure
     , LeadsCost.Community
     , LeadsCost.Site
     , LeadsCost.CampaignId
     , LeadsCost.AgentId
     , LeadsCost.AgentName
     , LeadsCost.AgentActiveStatus
     , LeadsCost.Production_StartDate
     , LeadsCost.SupervisorId
     , LeadsCost.SubUnit
     , LeadsCost.Leads
     , LeadsCost.LeadCost
     , LeadsCost.Credit
     , LeadsCost.LeadCost_Original

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'Reporting DB' AS SOURCE_SYS_NAME
	 , LeadsCost.Channel
	 , LeadsCost.SubChannel
     , LeadsCost.Role
     , LeadsCost.LeadHandleType
     , LeadsCost.Cost
     , LeadsCost.TransferCost
     , LeadsCost.ReceptionWage
FROM (
        SELECT cast(ImpDate as date) as ImpDate
            -- , OS3
            -- , Source
            -- , SourceName
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType

            , CASE WHEN datediff(day, Production_StartDate, ImpDate) between 0 and 30 then '1-30 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 31 and 60 then '31-60 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 61 and 90 then '61-90 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 91 and 180 then '91-180 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 181 and 365 then '181-365 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 366 and 730 then '1-2 Years'
                    WHEN datediff(day, Production_StartDate, ImpDate)>= 731 then '2+ Years'
                    ELSE 'Miscellaneous' END as AgentTenure

            , site
            , Sites.Descr as Community
            , CampaignId
            , ISNULL(AgentId,'') AgentId
            , AgentName
            , AgentActiveStatus
            , Production_StartDate
            , SupervisorId
            , ISNULL(SubUnit,'') SubUnit
            , Role
            , count(distinct concat(leads.Os3, '-', leads.BillableLead)) as Leads
            , sum(case when BillableFlag = 1 then BillableLeadCost end) as LeadCost_Original
            , sum(case when BillableFlag = 1 then Credit end) as Credit
            , (sum(case when BillableFlag = 1 then BillableLeadCost end) - sum(case when BillableFlag = 1 then Credit end)) as LeadCost
            , Channel
			, SubChannel
            , LeadHandleType
            , SUM(LeadCost) Cost
            , Sum(TransferCost) TransferCost
            , Sum(ReceptionWage) ReceptionWage

        FROM (
              SELECT *
                   , row_number() OVER(PARTITION BY cast(ImpDate as date), SourceType, Os3, BillableLead ORDER BY impdate asc) as RowNm

              FROM PROD_FOUNDATION_DB.dbo.LeadsCost_Detail WITH(NOLOCK) 
			    WHERE BillableFlag = 1
              ) as Leads
        left join PROD_FOUNDATION_DB.dbo.Sites as Sites ON (Sites.Id = Leads.Site)
        WHERE   ( 
				cast(ImpDate as date) --BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)
										BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
				)
				--AND BillableLead is not NULL
				AND Leads.RowNm = 1
        GROUP BY cast(ImpDate as date)
            -- , OS3
            -- , Source
            -- , SourceName
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType
            , CASE WHEN datediff(day, Production_StartDate, ImpDate) between 0 and 30 then '1-30 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 31 and 60 then '31-60 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 61 and 90 then '61-90 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 91 and 180 then '91-180 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 181 and 365 then '181-365 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 366 and 730 then '1-2 Years'
                   WHEN datediff(day, Production_StartDate, ImpDate) >= 731 then '2+ Years'
                   ELSE 'Miscellaneous' END
            , Site
            , Sites.Descr
            , CampaignId
            , ISNULL(AgentId,'')
            , AgentName
            , AgentActiveStatus
            , Production_StartDate
            , SupervisorId
            , ISNULL(SubUnit,'') 
            , Role
			, Channel
			, SubChannel
            , LeadHandleType
    ) as LeadsCost
    
    UNION
	/* 
    Added to include ECB Leads transferred to ETQ that are non-billable and count for sales yield 
    and ETQ dummy leads for transfer cost of facebook non-transferred leads
    */
	SELECT CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(LeadsCost.ImpDate, '|'
                                                    , LeadsCost.SourceType, '|'
                                                    , LeadsCost.LanguageType, '|'
                                                    , LeadsCost.LeadType, '|'
                                                    , LeadsCost.LeadSourceType,'|'
                                                    , LeadsCost.LeadSourceCostType, '|'
                                                    , LeadsCost.AgentTenure, '|'
                                                    , coalesce(LeadsCost.Community, ''), '|'
                                                    , coalesce(LeadsCost.Site, ''), '|'
                                                    , LeadsCost.CampaignId, '|'
                                                    , LeadsCost.Channel, '|'
                                                    , LeadsCost.SubChannel, '|' 
                                                    , LeadsCost.SupervisorId, '|' 
                                                    , LeadsCost.SubUnit, '|' 
													, LeadsCost.LeadHandleType)), 2) as Id

     , CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(LeadsCost.ImpDate, '|'
                                                    , LeadsCost.SourceType, '|'
                                                    , LeadsCost.LanguageType, '|'
                                                    , LeadsCost.LeadType, '|'
                                                    , LeadsCost.LeadSourceType,'|'
                                                    , LeadsCost.LeadSourceCostType, '|'
                                                    , LeadsCost.AgentTenure, '|'
                                                    , coalesce(LeadsCost.Community, ''), '|'
                                                    , coalesce(LeadsCost.Site, ''), '|'
                                                    , LeadsCost.CampaignId, '|'
                                                    , LeadsCost.AgentId, '|'
                                                    , LeadsCost.AgentName, '|'
                                                    , LeadsCost.Channel, '|'
                                                    , LeadsCost.SubChannel, '|' 
                                                    , LeadsCost.SupervisorId, '|' 
                                                    , LeadsCost.SubUnit, '|' 
													, LeadsCost.LeadHandleType)), 2) as AgentKey
     , LeadsCost.ImpDate
     , LeadsCost.SourceType
     , LeadsCost.LanguageType
     , LeadsCost.LeadType
     , LeadsCost.LeadSourceType
     , LeadsCost.LeadSourceCostType
     , LeadsCost.AgentTenure
     , LeadsCost.Community
     , LeadsCost.Site
     , LeadsCost.CampaignId
     , LeadsCost.AgentId
     , LeadsCost.AgentName
     , LeadsCost.AgentActiveStatus
     , LeadsCost.Production_StartDate
     , LeadsCost.SupervisorId
     , LeadsCost.SubUnit
     , LeadsCost.Leads
     , LeadsCost.LeadCost
     , LeadsCost.Credit
     , LeadsCost.LeadCost_Original

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'Reporting DB' AS SOURCE_SYS_NAME
	 , LeadsCost.Channel
	 , LeadsCost.SubChannel
	 , LeadsCost.Role
	 , LeadsCost.LeadHandleType
     , LeadsCost.Cost
     , LeadsCost.TransferCost
     , LeadsCost.ReceptionWage
FROM (
        SELECT cast(ImpDate as date) as ImpDate
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType

            , CASE WHEN datediff(day, Production_StartDate, ImpDate) between 0 and 30 then '1-30 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 31 and 60 then '31-60 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 61 and 90 then '61-90 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 91 and 180 then '91-180 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 181 and 365 then '181-365 Days'
                    WHEN datediff(day, Production_StartDate, ImpDate) between 366 and 730 then '1-2 Years'
                    WHEN datediff(day, Production_StartDate, ImpDate)>= 731 then '2+ Years'
                    ELSE 'Miscellaneous' END as AgentTenure

            , site
            , Sites.Descr as Community
            , CampaignId
            , ISNULL(agentid,'') AgentId
            , AgentName
            , AgentActiveStatus
            , Production_StartDate
            , SupervisorId
            , ISNULL(SubUnit,'') SubUnit
            , Role
            , SUM(leadcount ) as Leads
            , sum(BillableLeadCost) as LeadCost_Original
            , sum(Credit) as Credit
            , (sum(BillableLeadCost) - sum(Credit)) as LeadCost
            , Channel
			, SubChannel
			, leadhandletype
            , SUM(LeadCost) Cost
            , Sum(TransferCost) TransferCost
            , Sum(ReceptionWage) ReceptionWage
        FROM (
              SELECT case when BillableLead ='Dummy' then 0 else 1 end leadcount,*
                   --, row_number() OVER(PARTITION BY cast(ImpDate as date), SourceType, Os3, BillableLead ORDER BY ImpDate asc) as RowNm
                FROM PROD_FOUNDATION_DB.dbo.LeadsCost_Detail WITH(NOLOCK)
				WHERE ISNULL(BillableFlag,0) =0 and leadhandletype in('transferred','NoTransfer') and campaignid='ETQ'
              ) as Leads
        left join PROD_FOUNDATION_DB.dbo.Sites as Sites (NOLOCK) ON (Sites.Id = Leads.Site)
        WHERE   ( 
				cast(ImpDate as date) BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
				) 
				--AND Leads.RowNm = 1
        GROUP BY cast(ImpDate as date)
            , SourceType
            , LanguageType
            , LeadType
            , LeadSourceType
            , LeadSourceCostType
            , CASE WHEN datediff(day, Production_StartDate, ImpDate) between 0 and 30 then '1-30 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 31 and 60 then '31-60 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 61 and 90 then '61-90 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 91 and 180 then '91-180 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 181 and 365 then '181-365 Days'
                   WHEN datediff(day, Production_StartDate, ImpDate) between 366 and 730 then '1-2 Years'
                   WHEN datediff(day, Production_StartDate, ImpDate) >= 731 then '2+ Years'
                   ELSE 'Miscellaneous' END
            , Site
            , Sites.Descr
            , CampaignId
            , ISNULL(agentid,'')
            , AgentName
            , AgentActiveStatus
            , Production_StartDate
            , SupervisorId
            , ISNULL(SubUnit,'') 
            , Role
			, Channel
			, SubChannel
			, leadhandletype
    ) as LeadsCost


	UNION
    /* 
    Added to include agents that had no Sales but were logged in and do count for SPD calculation 
    */

	SELECT CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(Agents.LoginDate, '|'
                                                    , Agents.SourceType, '|'
                                                    , Agents.LanguageType, '|'
                                                    , Agents.LeadType, '|'
                                                    , Agents.LeadSourceType,'|'
                                                    , Agents.LeadSourceCostType, '|'
                                                    , Agents.AgentTenure, '|'
                                                    , coalesce(Agents.Community, ''), '|'
                                                    , coalesce(Agents.Site, ''), '|'
                                                    , Agents.CampaignId, '|'
                                                    , Agents.Channel, '|'
                                                    , Agents.SubChannel, '|' 
                                                    , Agents.SupervisorId, '|' 
                                                    , Agents.SubUnit, '|' 
													, Agents.LeadhandleType)), 2) as Id

     , CONVERT(VARCHAR(32), HASHBYTES('MD5', CONCAT(Agents.LoginDate, '|'
                                                    , Agents.SourceType, '|'
                                                    , Agents.LanguageType, '|'
                                                    , Agents.LeadType, '|'
                                                    , Agents.LeadSourceType,'|'
                                                    , Agents.LeadSourceCostType, '|'
                                                    , Agents.AgentTenure, '|'
                                                    , coalesce(Agents.Community, ''), '|'
                                                    , coalesce(Agents.Site, ''), '|'
                                                    , Agents.CampaignId, '|'
                                                    , Agents.AgentId, '|'
                                                    , Agents.AgentName, '|'
                                                    , Agents.Channel, '|'
                                                    , Agents.SubChannel, '|' 
                                                    , Agents.SupervisorId, '|' 
                                                    , Agents.SubUnit, '|' 
													, Agents.LeadHandleType)), 2) as AgentKey
     , Agents.LoginDate
    --  , Agents.OS3
    --  , Agents.Source
    --  , Agents.SourceName
     , Agents.SourceType
     , Agents.LanguageType
     , Agents.LeadType
     , Agents.LeadSourceType
     , Agents.LeadSourceCostType
     , Agents.AgentTenure
     , Agents.Community
     , Agents.Site
     , Agents.CampaignId
     , Agents.AgentId
     , Agents.AgentName
     , Agents.AgentActiveStatus
     , Agents.Production_StartDate
     , Agents.SupervisorId
     , Agents.SubUnit
     , Agents.Leads
     , Agents.LeadCost
     , Agents.Credit
     , Agents.LeadCost_Original

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'Reporting DB' AS SOURCE_SYS_NAME
	 , Agents.Channel
	 , Agents.SubChannel
     , Agents.Role
     , Agents.LeadHandleType 
     , Agents.Cost
     , Agents.TransferCost
     , Agents.ReceptionWage
FROM (
        SELECT cast(LoginDate as date) as LoginDate
            -- , OS3
            -- , Source
            -- , SourceName
            , NULL SourceType
            , NULL LanguageType
            , NULL LeadType
            , NULL LeadSourceType
            , NULL LeadSourceCostType

            , CASE WHEN datediff(day, Production_StartDate, LoginDate)  between 0 and 30 then '1-30 Days'
                    WHEN datediff(day, Production_StartDate, LoginDate) between 31 and 60 then '31-60 Days'
                    WHEN datediff(day, Production_StartDate, LoginDate) between 61 and 90 then '61-90 Days'
                    WHEN datediff(day, Production_StartDate, LoginDate) between 91 and 180 then '91-180 Days'
                    WHEN datediff(day, Production_StartDate, LoginDate) between 181 and 365 then '181-365 Days'
                    WHEN datediff(day, Production_StartDate, LoginDate) between 366 and 730 then '1-2 Years'
                    WHEN datediff(day, Production_StartDate, LoginDate) >= 731 then '2+ Years'
                    ELSE 'Miscellaneous' END as AgentTenure

            , site
            , Sites.Descr as Community
            , CampaignId
            , ISNULL(AgentId,'') AgentId
            , FirstName+' '+LastName as AgentName
            , Agents.IsActive as AgentActiveStatus
            , Production_StartDate
            , SupervisorId
            , ISNULL(SubUnit,'') SubUnit
            , 0 as Leads
            , 0.0 as LeadCost_Original
            , 0.0 as Credit
            , 0.0 as LeadCost
            , NULL Channel
			, NULL SubChannel
            , Role
            , 'Untraceable' LeadHandleType 
            , 0.0 Cost
            , 0.0 TransferCost
            , 0.0 ReceptionWage
        FROM (
              SELECT AgentLogins.LoginDate,CampaignID,AgentID,Agents.*
                  , row_number() OVER(PARTITION BY cast(LoginDate as date), AgentID ORDER BY LoginDate asc) as RowNm
				
              FROM CRMDB.dbo.AgentLogins WITH(NOLOCK)
			  JOIN PROD_FOUNDATION_DB..Agents (nolock)
			  ON Agents.Id=AgentLogins.AgentId
			  WHERE Site<>'LHR'
			  AND Role='Agent'
			  AND CampaignId in ('ETQ','GAS')
			  AND cast(logindate as date) >= cast(production_startdate as date)              
			  and cast(logindate as date) between Cast(Agents.VRSN_SRT_DTS as date) and Cast(VRSN_END_DTS as date)
			  AND NOT EXISTS (SELECT 1 FROM
                                #ExistingAgents ld              
                                WHERE ld.AgentId=AgentLogins.AgentId
								AND Cast(ld.Date as date)=CAST(logindate as date))              
              ) as Agents
        left join PROD_FOUNDATION_DB.dbo.Sites as Sites ON (Sites.Id = Agents.Site)
        WHERE   ( 
				cast(LoginDate as date) --BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS)
										BETWEEN DATEADD( DAY, -2, CONVERT(DATE,@MaxDate)) AND CONVERT(DATE, @Run_DTS)
										
				)
			  AND Agents.RowNm = 1
    ) as Agents


	UPDATE PROD_FOUNDATION_DB.dbo.BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed' 
	WHERE TableName = 'LeadsCost_Agents_Agg'
	AND JobStatus 	= 'In Progress'
	AND JobName		= 'Job.LeadsCost_Agents_Agg_Curated'
	AND START_DTS	= @Run_DTS
	
END

