USE [PROD_FOUNDATION_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_LeadCost_Detail_DRTV_GasLeads_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
​
BEGIN
    DECLARE @MaxDate DATETIME2
    DECLARE @Run_DTS DATETIME2
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'
​
    SELECT	@MaxDate = COALESCE(MAX(DATEADD(SS, 1, START_DTS)),'2018-01-01 00:00:00.000')
    FROM	BatchControl 
	WHERE	JobName		='Job.LeadCost_Detail_DRTV_GasLeads_Syndicated' 
		AND JobStatus	='Completed'

	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

	Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(23), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(23), @Run_DTS)
​
    --Inserts the details of the current job to batch control table
    INSERT INTO dbo.BatchControl 
    (
        JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
    ) 
    VALUES 
    (
        'Job.LeadCost_Detail_DRTV_GasLeads_Syndicated'
        ,'LeadCost_Detail'
        ,@RUN_DTS
        ,NULL
        ,'In Progress'
    )


DELETE FROM [dbo].[LeadsCost_Detail]
WHERE  SourceType_ProcessLoad = 'DRTV GAS Leads' AND 
		( 
		CONVERT(DATE, ImpDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@RUN_DTS) 
		)

/************************************************************************************************************
        - LOAD ALL THE DRTV GAS leads
************************************************************************************************************/

INSERT INTO dbo.LeadsCost_Detail
SELECT distinct 
       leads.UniqueId
     , leads.Number
     , ETQ.tel
     , ETQ.Email
     , leads.termcd
     , CONVERT(date, leads.CallDate) as ImpDate
     , ETQ.scrubbed
     , ETQ.scrub_reason
     , ETQ.isbillable_IBADL
     , leads.Campaign as CampaignId

     , leads.AgentId
     , concat(Agents.FirstName, ' ', Agents.LastName) as AgentName
     , Agents.IsActive as AgentActiveStatus
     , cast(Agents.Production_StartDate as date) as Production_StartDate
     , Agents.Site
     , Agents.SubUnit
     , Agents.SupervisorId 
     , SPACE(2) as LanguageType
    
     , ETQ.os3_r
     , CASE WHEN LEN(ETQ.os3_r) = 3 OR LEN(ETQ.os3_r) = 10 THEN 'Regular'
            WHEN RIGHT(ETQ.os3_r,4) LIKE '_R%C' THEN 'Recycled' 
            WHEN RIGHT(ETQ.os3_r,4) LIKE '_ABN' THEN 'Abandoned' 
            WHEN RIGHT(ETQ.os3_r,4) IN ('_AET','_ETE','_ETM','_ETR','_REL','_RET') THEN 'Retention'
            WHEN RIGHT(ETQ.os3_r,6) = '_2Tier' THEN 'PreQual'
            WHEN ETQ.os3_r IS NULL OR LEN(ETQ.os3_r) = 0 OR sources.Source IS NULL THEN 'Untraceable'
            ELSE 'Others'
        END as LeadHandleType

     , sources.OS3
     , sources.Source
     , sources.SourceName
     , sources.SubCode
     , sources.LanguageType as SourceLanguage
     , sources.SourceType
     
     , sources.LeadSourceType as LeadType
     , case when sources.LeadSourceCostType like '%Internal%' then 'Internal'
            when sources.LeadSourceCostType like '%External%' then 'External'
            else 'Miscellaneous' end as LeadSourceType
     , sources.LeadSourceCostType
     , sources.HoldTime
     , sources.BillableTalkTime
     , sources.Cost
     , sources.IBCost
     , sources.OBCost
     , 1 as BillableFlag
     , leads.UniqueId as BillableLead
     , COALESCE(OC.DRTV, con.ConstantValue) as BillableLeadCost
     , CONVERT(float, 0.0000) as Credit

	 , Leads.starttime as StartTime
	 , COALESCE(ETQ.state, cc.State) AS State
	 , Sources.CostTier
	 , leads.dnisdigits
	 , 'DRTV GAS Leads' AS SourceType_ProcessLoad 

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'WEBDIALER' AS SOURCE_SYS_NAME
	 , Sources.Channel
	 , Sources.SubChannel
     , Agents.Role     
     , 0.0 LeadCost  
     , 0.0 TransferCost
     , 0.0 ReceptionWage
                
FROM WEBDIALER.dbo.rpttrak as leads WITH (NOLOCK)
LEFT JOIN WEBDIALER.dbo.Campaign_ETQ as ETQ WITH (NOLOCK) ON (leads.uniqueid = ETQ.UniqueId)
LEFT JOIN	( 
			Select distinct State, CityCode from CRMDB..CityCodes (nolock) 
			) CC  ON CC.citycode= ETQ.AreaCode
INNER JOIN PROD_FOUNDATION_DB.dbo.LeadSourceFinal as sources WITH (NOLOCK) ON (leads.dnisdigits = sources.os3 and sources.SourceType = 'DRTV'
                                                                         and ((CAST(leads.CallDate as DATE) BETWEEN sources.StartDate AND sources.EndDate) OR sources.StartDate IS NULL))
LEFT JOIN PROD_FOUNDATION_DB.dbo.constants as con with(nolock) ON (cast(leads.CallDate as date) between con.StartDate and con.EndDate)
LEFT JOIN PROD_FOUNDATION_DB.dbo.OnlineCost as OC with(nolock) on (cast(OC.rptDate as date) = cast(leads.calldate as date) and OC.VRSN_END_DTS = '9999-12-31 00:00:00.000')
LEFT JOIN PROD_FOUNDATION_DB.dbo.Agents as Agents WITH (NOLOCK) ON (Agents.Id = leads.AgentId
                                                                   AND convert(date,leads.CallDate) between convert(date,Agents.VRSN_SRT_DTS) AND convert(date,Agents.VRSN_END_DTS )
                                                                   and convert(date,leads.CallDate) <> convert(date,Agents.VRSN_END_DTS ))


WHERE	( 
		CONVERT(DATE, leads.calldate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@RUN_DTS) 
		)    
  AND leads.Campaign = 'GAS' 
  AND leads.calltype = 2


-- Updateing OS3 and SourceType fields basis on LeadSourceFinal table
UPDATE	lcd
SET		lcd.SourceType	= Sources.SourceType,
		lcd.OS3			= Sources.OS3,
		lcd.Channel		= Sources.Channel,
		lcd.SubChannel	= Sources.SubChannel
FROM 	PROD_FOUNDATION_DB..LeadsCost_Detail lcd
		JOIN 
		(
			Select	OS3, SourceType,Channel,SubChannel
			From	PROD_FOUNDATION_DB..LeadSourceFinal WITH(NOLOCK)
			Group By OS3, SourceType,Channel,SubChannel
		)  Sources
		
		ON	lcd.dnisdigits = sources.os3 and sources.SourceType = 'DRTV'
			
WHERE	lcd.SourceType = 'Untraceable'				  AND 
		lcd.SourceType_ProcessLoad = 'DRTV GAS Leads' AND
		(
		CONVERT(DATE, lcd.ImpDate) BETWEEN CONVERT(DATE, @MaxDate)  AND CONVERT(DATE, @Run_DTS)
		)
  

  -- Updating CostTier field based on LeadSourceFinal field OS3 values
UPDATE	ld
SET		ld.CostTier = Sources.CostTier,
		ld.Channel = Sources.Channel,
		ld.SubChannel = Sources.SubChannel
FROM 	PROD_FOUNDATION_DB..LeadsCost_Detail ld 
		JOIN 
		(
			Select	OS3, CostTier,Channel,SubChannel
			From	PROD_FOUNDATION_DB..LeadSourceFinal WITH(NOLOCK)
			Group By OS3, CostTier,Channel,SubChannel
		)  Sources
		ON (LEFT(ld.os3_r,10) = sources.OS3 OR LEFT(ld.os3_r,3) = sources.OS3)
Where	ld.CostTier IS NULL AND ld.SourceType_ProcessLoad = 'DRTV GAS Leads' AND
		(
		CONVERT(DATE, ld.ImpDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)
		)

--Updates the details of the current job on successful completion of incremental load
    UPDATE BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed'
	WHERE TableName = 'LeadCost_Detail'
	AND JobName		= 'Job.LeadCost_Detail_DRTV_GasLeads_Syndicated'
	AND JobStatus 	= 'In Progress'
	AND Start_DTS   = @Run_DTS

END