USE [PROD_FOUNDATION_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ETL].[usp_LeadCost_Detail_ExceptADL_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS

BEGIN
    DECLARE @MaxDate DATETIME2
    DECLARE @Run_DTS DATETIME2
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'

    SELECT	@MaxDate = COALESCE(MAX(DATEADD(SS, 1, START_DTS)),'2018-01-01 00:00:00.000')
    FROM	BatchControl 
	WHERE	JobName		='Job.LeadCost_Detail_ExceptADL_Syndicated' 
		AND JobStatus	='Completed'

	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

	Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)

    --Inserts the details of the current job to batch control table
    INSERT INTO dbo.BatchControl 
    (
        JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
    ) 
    VALUES 
    (
        'Job.LeadCost_Detail_ExceptADL_Syndicated'
        ,'LeadCost_Detail'
        ,@RUN_DTS
        ,NULL
        ,'In Progress'
    )
--SELECT * FROM [dbo].[LeadsCost_Detail]

DELETE FROM [dbo].[LeadsCost_Detail]
WHERE ( convert(date,ImpDate) BETWEEN convert(date,@MaxDate) AND convert(date,@RUN_DTS) ) AND SourceType_ProcessLoad LIKE 'Except ADL Source Types%'

/************************************************************************************************************
    STEP 1
        - LOAD ALL THE LEADS INFORMATION EXCEPT ADL INBOUND LEAD
        - Leads are loaded based on Imp_Date from Campaign_ETQ table
************************************************************************************************************/

INSERT INTO dbo.LeadsCost_Detail
select distinct 
       leads.UniqueId    
     , leads.Number
     , leads.tel
     , leads.Email
     , leads.termcd
     , leads.imp_date as ImpDate
     , leads.scrubbed
     , leads.scrub_reason
     , leads.isbillable_IBADL
     , leads.CampaignId
     
     , leads.AgentId
     , leads.AgentName
     , leads.AgentActiveStatus
     , leads.Production_StartDate
     , leads.Site
     , leads.SubUnit
     , leads.SupervisorId
     , SPACE(2) as LanguageType

     , leads.Os3_r
     , CASE WHEN LeadHandleType = 'Others' and (leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL) THEN 'Untraceable'
            ELSE LeadHandleType END as LeadHandleType
     
     , sources.OS3
     , sources.Source
     , sources.SourceName
     , sources.SubCode
     , sources.LanguageType as SourceLanguage
     , case --when Leads.Os3_r like '%_2TPPC%' and len(Leads.Os3_r)>6 then 'PreQual'
		    when sources.SourceType is null or leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL THEN 'Untraceable'
            else sources.SourceType
       end as SourceType

     , case when sources.SourceType = 'Online Marketing - Affiliates' and leads.UniqueId like 'CRMIB%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Inbound'
            when sources.SourceType = 'Online Marketing - Affiliates' and leads.UniqueId like 'IADL%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Outbound'
            else coalesce(Sources.LeadSourceType, 'Miscellaneous') end as LeadType

     , case when sources.LeadSourceCostType like '%Internal%' then 'Internal'
            when sources.LeadSourceCostType like '%External%' then 'External'
            else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') end as LeadSourceType

     , case when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound Affiliates'
            when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound Affiliates'
            else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') END as LeadSourceCostType

     , sources.HoldTime
     , sources.BillableTalkTime
     , sources.Cost
     , sources.IBCost
     , sources.OBCost

     , CASE when SourceType LIKE 'Online Marketing%' and LeadHandleType IN( 'Regular','PreQual') then 1
            when SourceType = 'DRTV' and ((LeadHandleType IN( 'Regular','PreQual') and left(isnull(Filler10,''),3) <> 'GAS') or LeadHandleType = 'Abandoned') then 1
            when SourceType = 'Low Cost ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then 1
            when SourceType = 'ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then 1 -- Outbound ADLs
            when SourceType = 'Primerica (Referrals)' and LeadHandleType = 'Regular' then 1
            when (leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL) AND leads.LeadHandleType<>'PreQual'  then 1
        END as BillableFlag

     , CASE when SourceType LIKE 'Online Marketing%' and LeadHandleType IN( 'Regular','PreQual') then leads.UniqueId
            when SourceType = 'DRTV' and ((LeadHandleType IN( 'Regular','PreQual') and left(isnull(Filler10,''),3) <> 'GAS') or LeadHandleType = 'Abandoned') then leads.UniqueId
            when SourceType = 'Low Cost ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then leads.UniqueId
            when SourceType = 'ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then leads.UniqueId
            when SourceType = 'Primerica (Referrals)' and LeadHandleType = 'Regular' then leads.UniqueId
            when (leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL) AND leads.LeadHandleType<>'PreQual'  then leads.UniqueId
        END as BillableLead
        
     , CASE WHEN sources.SourceType = 'Online Marketing - Affiliates' and LeadHandleType IN( 'Regular','PreQual') AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' then IBCost
            WHEN sources.SourceType = 'Online Marketing - Affiliates' and LeadHandleType = 'Regular' and leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' then OBCost
            WHEN sources.SourceType = 'Online Marketing - NonAffiliates' and LeadHandleType IN( 'Regular','PreQual') then OC.Total
            WHEN sources.SourceType = 'Online Marketing - Facebook' and LeadHandleType IN( 'Regular','PreQual') then OC.FB
            WHEN sources.SourceType = 'DRTV' and ((LeadHandleType = 'Regular' and left(isnull(Filler10,''),3) <> 'GAS') or LeadHandleType = 'Abandoned') then COALESCE(OC.DRTV, con.ConstantValue)
            WHEN sources.SourceType = 'Low Cost ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then sources.Cost
            WHEN sources.SourceType = 'ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then sources.Cost
            when sources.SourceType = 'Primerica (Referrals)' and LeadHandleType = 'Regular' then 0
            WHEN leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL then 0 -- 'Untraceable'
            end as BillableLeadCost

     , CONVERT(float, 0.0000) as Credit
	 , NULL as StartTime
	 , COALESCE(leads.state, cc.State) AS State
	 , Sources.CostTier
	 , leads.os3_r AS DNISDigits
	 , 'Except ADL Source Types' AS SourceType_ProcessLoad

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'WEBDIALER' AS SOURCE_SYS_NAME
	 , Sources.Channel
	 , Sources.SubChannel
     , leads.Role    
     , 0.0 LeadCost  
     , 0.0 TransferCost
     , 0.0 ReceptionWage
     --, Case when leadhandleType='PreQual' then 1 else 0 end TransferFlag
from (
       SELECT lead.UniqueId
            , lead.Number
            , lead.CampaignId
            , lead.imp_date
            , case when lead.os3_r = 'FUT' and DATEPART(dw, lead.imp_date) IN (1, 7) and lead.imp_date <= '2018-05-31 23:59:59.999' then 'FUT2' 
                   when lead.os3_r = 'RGE' and DATEPART(dw, lead.imp_date) IN (1, 7) and lead.imp_date >= '2019-04-01 00:00:00.000' then 'RGE-2' 
                   else lead.os3_r end as os3_r

            , CASE WHEN LEN(lead.os3_r) = 3 OR (LEN(lead.os3_r) = 10 and RIGHT(lead.os3_r,4) NOT LIKE '_R%C') THEN 'Regular'
                   WHEN RIGHT(lead.os3_r,4) LIKE '_R%C' THEN 'Recycled' 
                   WHEN RIGHT(lead.os3_r,4) LIKE '_ABN' THEN 'Abandoned' 
                   WHEN RIGHT(lead.os3_r,4) IN ('_AET','_ETE','_ETM','_ETR','_REL','_RET') THEN 'Retention'
                   WHEN RIGHT(lead.os3_r,6) LIKE '%_2T%' THEN 'PreQual'
                   ELSE 'Others' END as LeadHandleType

            , lead.CallId
            
            , lead.AgentId
            , concat(Agents.FirstName, ' ', Agents.LastName) as AgentName
            , CAST(Agents.Production_StartDate as date) as Production_StartDate
            , Agents.Site
            , Agents.IsActive as AgentActiveStatus
            , Agents.SupervisorId
            , Agents.SubUnit
            , Agents.Role
            , lead.Filler10
            , lead.Termcd
            , lead.Email
            , lead.tel
            , isnull(lead.scrubbed, 0) as scrubbed
            , lead.scrub_reason
            , lead.isbillable_IBADL
			, lead.AreaCode
			, lead.State
        
        FROM WEBDIALER..Campaign_ETQ (nolock) as lead
				--PROD_FOUNDATION_DB..Campaign_ETQ (nolock) as lead
        LEFT JOIN PROD_FOUNDATION_DB.dbo.Agents(nolock) as Agents ON (Agents.Id = Lead.AgentId
                                                                    AND convert(date,lead.imp_date) between convert(date,Agents.VRSN_SRT_DTS) AND convert(date,Agents.VRSN_END_DTS )
                                                                    and convert(date,lead.imp_date) <> convert(date,Agents.VRSN_END_DTS ))
        WHERE convert(date,lead.imp_date) between convert(date,@MaxDate) AND convert(date,@Run_DTS)
        
    ) leads

	LEFT JOIN	( 
			Select distinct State, CityCode from CRMDB..CityCodes (nolock) 
			) CC  ON CC.citycode= Leads.AreaCode

    LEFT JOIN PROD_FOUNDATION_DB.dbo.LeadSourceFinal as sources with(nolock)  ON ((LEFT(leads.os3_r,3) = sources.OS3 OR LEFT(leads.os3_r,10) = sources.OS3)
                                                               AND ((CAST(leads.imp_date as DATE) BETWEEN sources.StartDate AND sources.EndDate) OR sources.StartDate IS NULL))

    LEFT JOIN PROD_FOUNDATION_DB.dbo.OnlineCost as OC with(nolock) on (cast(OC.rptDate as date) = cast(leads.imp_date as date) and OC.VRSN_END_DTS = '9999-12-31 00:00:00.000')
    LEFT JOIN PROD_FOUNDATION_DB.dbo.constants as con with(nolock) ON (sources.SourceType = 'DRTV' and CONVERT(date, leads.imp_date) between con.StartDate and con.EndDate)
    
	WHERE (sources.Project <> 'IB_ADL' OR sources.Project IS NULL) -- all sources except ADL Inbound lead sources

select * into #MEDICAID from webdialer..metadata (nolock)
where project = 'ETQ_TFN_REPORT' and isnull(subcode,'') = 'MEDICAID'
--new TFNs added on 08/15/2023
select dnisnumber dnis into #MEDICAIDAll from crmdb..dnis (nolock) 
where AcdGroup = 'ECB_IVR'

INSERT into #MEDICAIDAll
Select dnis
from  webdialer..MetaData (nolock) where  dnis not in('8552143500','8888574117')and project ='ETQ_TFN_REPORT' and code = 'DRTV'

--new TFNs added on 08/15/2023
select * into #MEDICAIDNEWTFNS from #MEDICAIDAll where dnis not in (select dnis from #MEDICAID)



select distinct 
       leads.UniqueId    
     , leads.Number
     , leads.tel
     , null Email
     , leads.termcd
     , leads.imp_date as ImpDate
     , leads.scrubbed
     , null scrub_reason
     , NULL isbillable_IBADL
     , leads.CampaignId
     
     , leads.AgentId
     , leads.AgentName
     , leads.AgentActiveStatus
     , leads.Production_StartDate
     , leads.Site
     , leads.SubUnit
     , leads.SupervisorId
     , SPACE(2) as LanguageType

     , leads.Os3_r
     , CASE WHEN LeadHandleType = 'Others' and (leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL) THEN 'Untraceable'
            ELSE LeadHandleType END as LeadHandleType
     
     , sources.OS3
     , sources.Source
     , sources.SourceName
     , sources.SubCode
     , sources.LanguageType as SourceLanguage
     , case --when Leads.Os3_r like '%_2T%' and len(Leads.Os3_r)>6 then 'PreQual'
		    when sources.SourceType is null or leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL THEN 'Untraceable'
            else sources.SourceType
       end as SourceType

     , case when leads.UniqueId like 'CRMIB%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Inbound'
            when leads.UniqueId like 'IADL%' and RIGHT(leads.Os3_r,3) not like 'R%C' THEN 'Outbound'
            else coalesce(Sources.LeadSourceType, 'Miscellaneous') end as LeadType

     , case when sources.LeadSourceCostType like '%Internal%' then 'Internal'
            when sources.LeadSourceCostType like '%External%' then 'External'
            else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') end as LeadSourceType

     , case when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound Affiliates'
            when sources.SourceType = 'Online Marketing - Affiliates' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound Affiliates'
            when sources.SourceType = 'Online Marketing - NonAffiliates' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound NonAffiliates'
            when sources.SourceType = 'Online Marketing - NonAffiliates' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound NonAffiliates'
            when sources.SourceType = 'Online Marketing - Facebook' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound Facebook'
            when sources.SourceType = 'Online Marketing - Facebook' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound Facebook'
            else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') END as LeadSourceCostType

     , sources.HoldTime
     , sources.BillableTalkTime
     , sources.Cost
     , sources.IBCost
     , sources.OBCost

     , CASE --when SourceType LIKE 'Online Marketing%' and LeadHandleType ='PreQual' then 1
            when SourceType  = 'Online Marketing - NonAffiliates' and LeadHandleType = 'PreQual' --and cast(imp_Date as date) between '2023-02-15' and '2023-09-13' 
            then 1 
            when SourceType  = 'Online Marketing - Facebook' and LeadHandleType = 'PreQual' --and cast(imp_Date as date) between '2023-02-15' and '2023-09-13' 
            then 1 
            when SourceType  = 'Online Marketing - Affiliates' and LeadHandleType = 'PreQual' and leads.UniqueId like 'IADL%' and scrubbed<>1 then 1 
            when SourceType = 'DRTV' and LeadHandleType = 'PreQual' then 1
            --when SourceType = 'Low Cost ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then 1
            --when SourceType = 'ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then 1 -- Outbound ADLs
            --when SourceType = 'Primerica (Referrals)' and LeadHandleType = 'Regular' then 1
            --when leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL then 1
        END as BillableFlag

     , CASE WHEN sources.SourceType = 'Online Marketing - NonAffiliates' and LeadHandleType='PreQual' then leads.uniqueid
			WHEN sources.SourceType = 'Online Marketing - Facebook' and LeadHandleType='PreQual' then leads.uniqueid
			when SourceType  = 'Online Marketing - Affiliates' and LeadHandleType = 'PreQual' and leads.UniqueId like 'IADL%' and scrubbed<>1 then leads.uniqueid 
            --when SourceType LIKE 'Online Marketing%' and LeadHandleType = 'PreQual' then leads.UniqueId
            when SourceType = 'DRTV' and LeadHandleType = 'PreQual' then leads.UniqueId
   --         when SourceType = 'Low Cost ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then leads.UniqueId
   --         when SourceType = 'ADL' and LeadHandleType = 'Regular' and leads.UniqueId like '%ADL%' then leads.UniqueId
   --         when SourceType = 'Primerica (Referrals)' and LeadHandleType = 'Regular' then leads.UniqueId
   --         when leads.os3_r IS NULL OR LEN(leads.os3_r) = 0 OR sources.Id IS NULL then leads.UniqueId
        END as BillableLead
        
     , CASE when SourceType  = 'Online Marketing - Affiliates' and LeadHandleType = 'PreQual' and leads.UniqueId like 'IADL%' and scrubbed<>1 then sources.obcost
        else CONVERT(float, 0.0000) END AS BillableLeadCost

     , CONVERT(float, 0.0000) as Credit
	 , NULL as StartTime
	 , COALESCE(leads.state, cc.State) AS State
	 , Sources.CostTier
	 , leads.os3_r AS DNISDigits
	 , 'Except ADL Source Types-ECB' AS SourceType_ProcessLoad

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'WEBDIALER' AS SOURCE_SYS_NAME
	 , Sources.Channel
	 , Sources.SubChannel
     , leads.Role    
     , 0.0 LeadCost  
     , 0.0 TransferCost
     , 0.0 ReceptionWage
     --, 0 transferFlag
	 into #LeadsCost_Detail_ECB
	 from (
       SELECT lead.UniqueId
            , lead.Number
            , lead.CampaignId
            , lead.imp_date
            , case when lead.os3_r = 'FUT' and DATEPART(dw, lead.imp_date) IN (1, 7) and lead.imp_date <= '2018-05-31 23:59:59.999' then 'FUT2' 
                   when lead.os3_r = 'RGE' and DATEPART(dw, lead.imp_date) IN (1, 7) and lead.imp_date >= '2019-04-01 00:00:00.000' then 'RGE-2' 
                   else lead.os3_r end as os3_r

            , 'PreQual' as LeadHandleType

            , lead.CallId
            
            , lead.AgentId
            , concat(Agents.FirstName, ' ', Agents.LastName) as AgentName
            , CAST(Agents.Production_StartDate as date) as Production_StartDate
            , Agents.Site
            , Agents.IsActive as AgentActiveStatus
            , Agents.SupervisorId
            , Agents.SubUnit
            , Agents.Role
            --, lead.Filler10
            , lead.Termcd
            --, lead.Email
            , lead.tel
            , isnull(lead.scrubbed, 0) as scrubbed
            --, lead.scrub_reason
            --, lead.isbillable_IBADL
			, lead.AreaCode
			, lead.State
        
        FROM WEBDIALER..Campaign_ECB (nolock) as lead
				--PROD_FOUNDATION_DB..Campaign_ETQ (nolock) as lead
        LEFT JOIN PROD_FOUNDATION_DB.dbo.Agents(nolock) as Agents ON (Agents.Id = Lead.AgentId
                                                                    AND convert(date,lead.imp_date) between convert(date,Agents.VRSN_SRT_DTS) AND convert(date,Agents.VRSN_END_DTS )
                                                                    and convert(date,lead.imp_date) <> convert(date,Agents.VRSN_END_DTS ))
        WHERE convert(date,lead.imp_date) between convert(date,@MaxDate) AND convert(date,@Run_DTS)
		AND convert(date,lead.imp_date)>='2023-02-15'
        
    ) leads

	LEFT JOIN	( 
			Select distinct State, CityCode from CRMDB..CityCodes (nolock) 
			) CC  ON CC.citycode= Leads.AreaCode

    LEFT JOIN PROD_FOUNDATION_DB.dbo.LeadSourceFinal as sources with(nolock)  ON ((LEFT(leads.os3_r,3) = sources.OS3 OR LEFT(leads.os3_r,10) = sources.OS3)
                                                               AND ((CAST(leads.imp_date as DATE) BETWEEN sources.StartDate AND sources.EndDate) OR sources.StartDate IS NULL))
	inner JOIN #MEDICAIDAll m on sources.OS3=m.dnis

    
	WHERE (sources.Project <> 'IB_ADL' OR sources.Project IS NULL) -- all sources except ADL Inbound lead sources

--To include all Affiliate Outbounds (ETQ importDate greater than ECB importDate)
insert into dbo.LeadsCost_Detail
Select * from #LeadsCost_Detail_ECB ecb
where ecb.SourceType='Online Marketing - Affiliates' and leadType='Outbound'

insert into dbo.LeadsCost_Detail
Select * from #LeadsCost_Detail_ECB ecb
where not exists (select 1 from dbo.LeadsCost_Detail etq where etq.uniqueid=ecb.uniqueid)

--Add ETQ nonbillable lead for transfer cost of Internal Facebook leads for days where no lead was transferred
Insert into LeadsCost_Detail
select distinct 
       leads.UniqueId    
     , leads.Number
     , leads.tel
     , null Email
     , leads.termcd
     , cast(leads.imp_date as datetime) as ImpDate
     , leads.scrubbed
     , null scrub_reason
     , NULL isbillable_IBADL
     , leads.CampaignId
     
     , leads.AgentId
     , leads.AgentName
     , leads.AgentActiveStatus
     , leads.Production_StartDate
     , leads.Site
     , leads.SubUnit
     , leads.SupervisorId
     , SPACE(2) as LanguageType

     , leads.Os3_r
     , 'NoTransfer' as LeadHandleType
     
     , leads.Os3_r OS3
     , null Source
     , null SourceName
     , sources.SubCode
     , null SourceLanguage
     , sources.SourceType 

     , null LeadType

     , case when sources.LeadSourceCostType like '%Internal%' then 'Internal'
            when sources.LeadSourceCostType like '%External%' then 'External'
            else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') end as LeadSourceType

     , case when sources.SourceType = 'Online Marketing - Facebook' AND leads.UniqueId LIKE 'CRMIB%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Inbound Facebook'
            when sources.SourceType = 'Online Marketing - Facebook' AND leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' THEN 'Internal Outbound Facebook'
            else coalesce(Sources.LeadSourceCostType, 'Miscellaneous') END as LeadSourceCostType

     , null HoldTime
     , null BillableTalkTime
     , null Cost
     , null IBCost
     , null OBCost

     , 0 BillableFlag

     , leads.UniqueId BillableLead
        
     , CONVERT(float, 0.0000) AS BillableLeadCost

     , CONVERT(float, 0.0000) as Credit
	 , NULL as StartTime
	 , null AS State
	 , Sources.CostTier
	 , null AS DNISDigits
	 , 'Except ADL Source Types-ECB' AS SourceType_ProcessLoad

	 , @Run_DTS AS VRSN_SRT_DTS
	 , CAST(@Vrsn_End_Date AS datetime) AS VRSN_END_DTS
	 , @Run_DTS AS	INSERT_DTS
	 , 'Standard' AS INSTANT_ST_NM
	 , 'WEBDIALER' AS SOURCE_SYS_NAME
	 , Sources.Channel
	 , Sources.SubChannel
     , leads.Role    
     , 0.0 LeadCost  
     , 0.0 TransferCost
     , 0.0 ReceptionWage
     --, 0 transferFlag
	 
	 from (
        SELECT distinct 'Dummy' uniqueid
            , '' number
            , 'ETQ' CampaignId
            , lead.rptdate imp_date
            , lead.tfn os3_r 

            , 'NoTransfer' as LeadHandleType

            , NULL CallId
            
            , NULL AgentId
            , '' AgentName
            , NULL Production_StartDate
            , NULL Site
            , NULL AgentActiveStatus
            , NULL SupervisorId
            , NULL SubUnit
            , NULL Role
            --, lead.Filler10
            , NULL Termcd
            --, lead.Email
            , NULL tel
            , 0 as scrubbed
            --, lead.scrub_reason
            --, lead.isbillable_IBADL
			, null AreaCode
			, null State
        FROM webdialer.[rpt].[GrossMarginInternalCostDaily] as lead
		inner join PROD_FOUNDATION_DB.dbo.LeadSourceFinal as sources with(nolock)  ON (lead.tfn = sources.OS3 
                                                               AND ((lead.rptdate BETWEEN sources.StartDate AND sources.EndDate) OR sources.StartDate IS NULL)
															   AND sources.sourcetype='Online marketing - facebook')
	    WHERE lead.rptdate between cast(@MaxDate as date) AND cast(@Run_DTS as date)
		AND lead.rptdate>='2023-02-15'
        
    ) leads
	LEFT JOIN PROD_FOUNDATION_DB.dbo.LeadSourceFinal as sources with(nolock)  ON ((LEFT(leads.os3_r,3) = sources.OS3 OR LEFT(leads.os3_r,10) = sources.OS3)
                                                               AND ((CAST(leads.imp_date as DATE) BETWEEN sources.StartDate AND sources.EndDate) OR sources.StartDate IS NULL))
	inner JOIN #MEDICAIDAll m on sources.OS3=m.dnis
    WHERE (sources.Project <> 'IB_ADL' OR sources.Project IS NULL) and sources.sourcetype='online marketing - facebook'-- Facebook ECB non-transferred to cater transfer cost of these leads
	and not exists (Select 1 
					from LeadsCost_Detail l
					where l.sourcetype='online marketing - facebook'
					and campaignID='ETQ'
					and billableflag=1
					and Cast(l.impdate as date)=leads.imp_date
					and leads.os3_r=l.os3
	)


select cast(rptdate as date) rptdate, TFN, cost  into #MDCost
from webdialer.[rpt].[GrossMarginInternalCostDaily] c with (nolock)
inner join #MEDICAID m (nolock) on ltrim(rtrim(c.TFN)) = m.dnis
where convert(date,rptdate) >= '2023-02-15' 
and ltrim(rtrim(c.TFN)) in (select distinct os3 
                            from PROD_Foundation_DB..leadsourcefinal where sourcetype='online marketing - NonAffiliates')
group by cast(rptdate as date), TFN, cost 

insert into #MDCost
select cast(c.rptdate as date) rptdate, TFN, cost  
from webdialer.[rpt].[GrossMarginInternalCostDaily] c with (nolock)
inner join #MEDICAIDnewtfns m (nolock) on ltrim(rtrim(c.TFN)) = m.dnis
where convert(date,c.rptdate) >= '2023-08-15' 
and ltrim(rtrim(c.TFN)) in (select distinct os3 
                            from PROD_Foundation_DB..leadsourcefinal where sourcetype='online marketing - NonAffiliates')

group by cast(c.rptdate as date), TFN, cost


select cast(rptdate as date) rptdate, TFN, cost  into #MDCost1
from webdialer.[rpt].[GrossMarginInternalCostDaily] c with (nolock)
inner join #MEDICAID m (nolock) on ltrim(rtrim(c.TFN)) = m.dnis
where convert(date,rptdate) >= '2023-02-15' 
and ltrim(rtrim(c.TFN)) in (select distinct os3 
                            from PROD_Foundation_DB..leadsourcefinal where sourcetype='online marketing - facebook')
group by cast(rptdate as date), TFN, cost 

insert into #MDCost1
select cast(c.rptdate as date) rptdate, TFN, cost  
from webdialer.[rpt].[GrossMarginInternalCostDaily] c with (nolock)
inner join #MEDICAIDnewtfns m (nolock) on ltrim(rtrim(c.TFN)) = m.dnis
where convert(date,c.rptdate) >= '2023-08-15' 
and ltrim(rtrim(c.TFN)) in (select distinct os3 
                            from PROD_Foundation_DB..leadsourcefinal where sourcetype='online marketing - facebook')
group by cast(c.rptdate as date), TFN, cost



UPDATE	lcd
SET		lcd.SourceType	= Sources.SourceType,
		lcd.OS3			= Sources.OS3,
		lcd.Channel		= Sources.Channel,
		lcd.SubChannel	= Sources.SubChannel
FROM 	PROD_FOUNDATION_DB..LeadsCost_Detail lcd
		JOIN 
		(
			Select	OS3, SourceType,Channel,SubChannel
			From	PROD_FOUNDATION_DB..LeadSourceFinal WITH(NOLOCK)
			Group By OS3, SourceType,Channel,SubChannel
		)  Sources
		ON	
			(LEFT(lcd.os3_r,3) = sources.OS3 OR LEFT(lcd.os3_r,10) = sources.OS3)
			
WHERE	lcd.SourceType = 'Untraceable'	AND 
		lcd.SourceType_ProcessLoad = 'Except ADL Source Types' AND
		(
		lcd.ImpDate BETWEEN @MaxDate AND @Run_DTS
		)

  -- Updating CostTier field based on LeadSourceFinal field OS3 values
UPDATE	ld
SET		ld.CostTier = Sources.CostTier,
		ld.Channel = Sources.Channel,
		ld.SubChannel = Sources.SubChannel
FROM 	PROD_FOUNDATION_DB..LeadsCost_Detail ld 
		JOIN 
		(
			Select	OS3, CostTier, Channel, SubChannel
			From	PROD_FOUNDATION_DB..LeadSourceFinal WITH(NOLOCK)
			Group By OS3, CostTier, Channel, SubChannel
		)  Sources
		ON (LEFT(ld.os3_r,10) = sources.OS3 OR LEFT(ld.os3_r,3) = sources.OS3)
Where	ld.CostTier IS NULL AND ld.SourceType_ProcessLoad = 'Except ADL Source Types' AND
		(
		ld.ImpDate BETWEEN @MaxDate AND @Run_DTS
		)

/*******************************************************************************************************
    - COST ADJUSTMENTS FOR ONLINE MARKETING - NON AFFILIATES
********************************************************************************************************/

IF OBJECT_ID('tempdb..#CPL_Online', 'u') IS NOT NULL DROP TABLE #CPL_Online;

UPDATE leads set LeadCost=BillableLeadCost
FROM dbo.LeadsCost_Detail(nolock) as leads
WHERE ( CONVERT(DATE, Leads.ImpDate) BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS) )


SELECT 
    cast(leads.ImpDate as date) as ImpDate,
    leads.SourceType,
	Leads.os3,
    CASE WHEN count(distinct leads.BillableLead) = 0 THEN 0
    --WHEN CAST(leads.ImpDate as date)>='2023-02-15' then avg(internalppc)/(count(distinct leads.BillableLead)*1.0)
	ELSE 
	MAX(OC.Cost)/(count(distinct leads.BillableLead)*1.0) END as CostPerLead  

INTO 
    #CPL_Online
FROM 
    dbo.LeadsCost_Detail(nolock) as leads
JOIN 

   (SELECT RptDate,TFN,SUM(Cost) Cost 
      FROM #MDCost 
      GROUP BY RptDate,TFN

   )as OC on (cast(OC.rptDate as date) = cast(leads.ImpDate as date)) AND oc.TFN=leads.os3
WHERE 
    leads.SourceType = 'Online Marketing - NonAffiliates'
    and leads.BillableFlag = 1 
    AND termcd<>'RB'
	and ( CONVERT(DATE, Leads.ImpDate) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) )
GROUP BY 
    cast(leads.ImpDate as date),
    leads.SourceType,
	Leads.os3


UPDATE leads
SET leads.cost=0,leads.BillableLeadCost = 0,leads.LeadCost=0
FROM Leadscost_Detail leads
WHERE 
    leads.SourceType = 'Online Marketing - NonAffiliates' and LeadHandleType in('regular','prequal')
    and leads.BillableFlag = 1 and campaignid='etq'
    AND termcd<>'RB'
    AND CAST(impdate as date) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) 

-- Update avg cost for each lead

UPDATE leads
SET leads.cost=B.CostPerLead,leads.BillableLeadCost = B.CostPerLead,leads.leadcost=B.CostPerLead

FROM 
    dbo.LeadsCost_Detail  leads
JOIN #CPL_Online as B ON (cast(leads.ImpDate as date) = B.ImpDate) AND leads.os3=b.Os3
WHERE 
    leads.SourceType = 'Online Marketing - NonAffiliates' and LeadHandleType in('regular','prequal')
    and leads.BillableFlag = 1 and campaignid='etq'
    AND termcd<>'RB'


Select cast(lead.impdate as date) ImpDate,(noTfnCost.cost+ecbCost.cost)/lead.leads perleadtransferCost
into #transferCost
from
		(select Cast(impdate as date) impdate,count(distinct uniqueid) leads
		from Leadscost_Detail 
		where SourceType='Online Marketing - NonAffiliates' 
			and billableflag=1 and termcd<>'rb'
			and CampaignId='etq' and LeadHandleType='prequal'
			and ( CONVERT(DATE, impdate) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) )
			group by Cast(impdate as date) 
		)lead
JOIN
		(SELECT RptDate
            ,SUM(Cost) Cost 
         FROM #MDCost where TFN not in (Select distinct os3 
                        from LeadsCost_Detail 
                        where SourceType='Online Marketing - NonAffiliates' 
						and billableflag=1 and termcd<>'rb' and CAST(impdate as date)=rptdate)
						and ( rptdate BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) )
		 GROUP BY RptDate) NoTFNCost ON NoTFNCost.RptDate=cast(LEAD.impdate as date)
JOIN
		(SELECT mc.impDate,sum(mc.costperlead) cost
         FROM #cpl_Online mc 
		 join LeadsCost_Detail lead on mc.impdate=CAST(lead.impdate as date)
									and lead.OS3=mc.os3
         where Lead.SourceType='Online Marketing - NonAffiliates' 
				 and billableflag=1 
				 and termcd<>'rb' and campaignid ='ecb' and leadhandletype='prequal'
				 and ( mc.impdate BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) )
         GROUP BY mc.impDate) ECBCost on cast(LEAD.impdate as date)=ecbcost.impdate

UPDATE leads
SET leads.cost=leads.cost+etq.perleadtransferCost,leads.TransferCost=etq.perleadtransferCost
,leads.BillableLeadCost = leads.cost+etq.perleadtransferCost
FROM
#transfercost etq
JOIN dbo.LeadsCost_Detail  leads ON etq.impdate=cast(leads.impdate as date) 
WHERE 
		leads.SourceType = 'Online Marketing - NonAffiliates' 
		and leads.BillableFlag = 1 and campaignid='etq' and LeadHandleType ='prequal'
		AND termcd<>'RB'

/*******************************************************************************************************
    - COST ADJUSTMENTS FOR ONLINE MARKETING - FACEBOOK
********************************************************************************************************/

IF OBJECT_ID('tempdb..#CPL_Facebook', 'u') IS NOT NULL DROP TABLE #CPL_Online;

SELECT 
    cast(leads.ImpDate as date) as ImpDate,
    leads.SourceType,
	Leads.os3,
    CASE WHEN count(distinct leads.BillableLead) = 0 THEN 0
    --WHEN CAST(leads.ImpDate as date)>='2023-02-15' then avg(internalppc)/(count(distinct leads.BillableLead)*1.0)
	ELSE 
	MAX(OC.Cost)/(count(distinct leads.BillableLead)*1.0) END as CostPerLead  

INTO 
    #CPL_Facebook
FROM 
    dbo.LeadsCost_Detail(nolock) as leads
JOIN 

   (SELECT RptDate,TFN,SUM(Cost) Cost 
      FROM #MDCost1 
      GROUP BY RptDate,TFN

   )as OC on (cast(OC.rptDate as date) = cast(leads.ImpDate as date)) AND oc.TFN=leads.os3
WHERE 
    leads.SourceType = 'Online Marketing - Facebook'
    and leads.BillableFlag = 1  
    AND isnull(termcd,'')<>'RB'
	and ( CONVERT(DATE, Leads.ImpDate) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) )
GROUP BY 
    cast(leads.ImpDate as date),
    leads.SourceType,
	Leads.os3


UPDATE leads
SET leads.cost=0,leads.BillableLeadCost = 0,leads.LeadCost=0
FROM Leadscost_Detail leads
WHERE 
    leads.SourceType = 'Online Marketing - Facebook' and ((LeadHandleType in('regular','prequal') 
    and leads.BillableFlag = 1 ) or(LeadHandleType ='notransfer' and leads.BillableFlag = 0) )
    AND isnull(termcd,'')<>'rb'
	and campaignid='etq'
    AND CAST(impdate as date) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) 

-- Update avg cost for each lead

UPDATE leads
SET leads.cost=B.CostPerLead,leads.BillableLeadCost = B.CostPerLead,leads.leadcost=B.CostPerLead

FROM 
    dbo.LeadsCost_Detail  leads
JOIN #CPL_Facebook as B ON (cast(leads.ImpDate as date) = B.ImpDate) AND leads.os3=b.Os3
WHERE 
    leads.SourceType = 'Online Marketing - Facebook' and LeadHandleType in('regular','prequal')
    and leads.BillableFlag = 1  
    and campaignid='etq'
    AND isnull(termcd,'')<>'rb'

--Add per TFN cost missed for OS3s not having any leads And ECB leads transfercost
Select cast(lead.impdate as date) ImpDate,(ISNULL(noTfnCost.cost,0)+ISNULL(ecbCost.cost,0))/lead.leads perleadtransferCost
into #transferCost1
from
		(select Cast(impdate as date) impdate,count(distinct os3+' '+uniqueid) leads
		from Leadscost_Detail 
		where SourceType='Online Marketing - Facebook' 
		and campaignid='etq' and 
		((BillableFlag = 1 and LeadHandleType ='prequal') OR (billableflag=0 and LeadHandleType ='NoTransfer') )
		AND isnull(termcd,'')<>'RB' 
			and ( CONVERT(DATE, impdate) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS)  )
			group by Cast(impdate as date) 
		 
		)lead
LEFT JOIN
		(SELECT RptDate
            ,SUM(Cost) Cost 
         FROM #MDCost1 where TFN not in (Select distinct os3 
                        from LeadsCost_Detail 
                        where SourceType='Online Marketing - Facebook' 
						and ((BillableFlag = 1 and LeadHandleType ='prequal') )
						and isnull(termcd,'')<>'rb' and CAST(impdate as date)=rptdate)
						and ( rptdate BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) )
		 GROUP BY RptDate) NoTFNCost ON NoTFNCost.RptDate=cast(LEAD.impdate as date)
LEFT JOIN
		(SELECT mc.impDate,sum(mc.costperlead) cost
         FROM #cpl_Facebook mc 
		 join LeadsCost_Detail lead on mc.impdate=CAST(lead.impdate as date)
									and lead.OS3=mc.os3
         where Lead.SourceType='Online Marketing - Facebook' 
				 and billableflag=1 
				 and isnull(termcd,'')<>'rb' and campaignid ='ecb' and leadhandletype='prequal'
				 and ( mc.impdate BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS) )
         GROUP BY mc.impDate) ECBCost on cast(LEAD.impdate as date)=ecbcost.impdate
where lead.leads>0

UPDATE leads
SET leads.cost=leads.cost+etq.perleadtransferCost,leads.TransferCost=etq.perleadtransferCost
,leads.BillableLeadCost = leads.cost+etq.perleadtransferCost
FROM
#transfercost1 etq
JOIN dbo.LeadsCost_Detail  leads ON cast(etq.impdate as date) =cast(leads.impdate as date) 
WHERE 
		leads.SourceType = 'Online Marketing - Facebook' 
		and campaignid='etq' and 
		((leads.BillableFlag = 1 and LeadHandleType ='prequal') OR (leads.billableflag=0 and LeadHandleType ='NoTransfer') )
		AND isnull(termcd,'')<>'RB'
-------------------------------------------------------------
-- Primerica LeadCost Adjustments based on daily sales
-------------------------------------------------------------

select company_sold, medicarePartA_Number, convert(date, effdate) effdate, min(saleid) min_saleid, convert(date,saledate) saledate 
into #True_Duplicate
from webdialer.dbo.MedicareSales ms with(nolock) 
inner join webdialer.rpt.leadsourceinfo_Primerica ib (nolock) on convert(date, ms.saledate) between '07/01/2021' and CONVERT(DATE, @Run_DTS) and
(left(ms.lead_source,10) = ib.TFN OR left(ms.lead_source,3) = ib.Os3)
and ms.PRODUCT_TYPE like '%Medicare%'
group by company_sold,medicarepartA_number, convert(date, effdate), convert(date,saledate)
having count(*) > 1

select  medicarePartA_Number, min(SaleDate) SaleDate, min(SaleId) min_saleid
into    #duplicatesPlanChange
from    webdialer.dbo.MedicareSales ms
inner join webdialer.rpt.leadsourceinfo_Primerica ib (nolock) on convert(date, ms.saledate) between '07/01/2021' and CONVERT(DATE, @Run_DTS) and
(left(ms.lead_source,10) = ib.TFN OR left(ms.lead_source,3) = ib.Os3)
and ms.PRODUCT_TYPE like '%Medicare%'
group by medicarepartA_number
having count(*) > 1 

Select * into #PrimericaSales
from	webdialer..medicaresales ms (nolock)
		inner join  PROD_FOUNDATION_DB..LeadSourceFinal md (nolock) on ( md.OS3 = left(ms.lead_source,3) OR md.os3 = left(ms.lead_source,10) )
		where	SourceType = 'Primerica (Referrals)'
		and convert(date, SaleDate) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS)

delete p
from #PrimericaSales p 	
inner join #True_Duplicate d on  d.medicarePartA_Number = p.medicarePartA_Number and convert(date, p.saledate) =  convert(date, d.saledate)
AND p.Saleid <> d.min_saleid

delete p
from #PrimericaSales p 	
inner join #duplicatesPlanChange d on  d.medicarePartA_Number = p.medicarePartA_Number
AND p.Saleid <> d.min_saleid

delete p
from #PrimericaSales p 	
where (p.product_type like '%Part%' or p.humanasale like '%PDP%')

IF OBJECT_ID('tempdb..#Pri_Cost', 'u') IS NOT NULL DROP TABLE #Pri_Cost;

select cast(SaleDate as date) ImpDate,count(Distinct confirmation_number)*350 Cost 
into #Pri_Cost
from #primericaSales
group by cast(SaleDate as date)

-- DAY LEVEL UPDATE

IF OBJECT_ID('tempdb..#CPL_Prime', 'u') IS NOT NULL DROP TABLE #CPL_Prime;

SELECT 
    cast(leads.ImpDate as date) as ImpDate,
    leads.SourceType,
    CASE WHEN count(distinct leads.BillableLead) = 0 THEN 0 ELSE MAX(PC.Cost)/(count(distinct leads.BillableLead)*1.0) END as CostPerLead 
INTO #CPL_Prime
FROM 
    dbo.LeadsCost_Detail(nolock) as leads
JOIN 
    #Pri_Cost as PC on PC.ImpDate = cast(leads.ImpDate as date) 
                                           
WHERE 
		leads.SourceType = 'Primerica (Referrals)'
        AND termcd<>'RB'
    and leads.BillableFlag = 1
	and CONVERT(DATE, Leads.ImpDate) BETWEEN dateadd(DAY, -2,CONVERT(DATE, @MaxDate)) AND CONVERT(DATE, @Run_DTS)
GROUP BY 
    cast(leads.ImpDate as date),
    leads.SourceType

-- Update avg cost for each lead

UPDATE leads
SET leads.BillableLeadCost = CASE WHEN B.ImpDate IS NOT NULL THEN B.CostPerLead ELSE 0 END,
leads.leadcost=CASE WHEN B.ImpDate IS NOT NULL THEN B.CostPerLead ELSE 0 END

FROM 
    dbo.LeadsCost_Detail  leads
JOIN 
    #CPL_Prime as B ON (cast(leads.ImpDate as date) = B.ImpDate)
WHERE 
    leads.SourceType ='Primerica (Referrals)'
    and leads.BillableFlag = 1
    AND termcd<>'RB'

-- Update Primerica's LeadType based on first call	
select	uniqueid,	
		impdate,
        number,
		Space(2) Calltype	
		into		#PriLeads	
		FROM LeadsCost_Detail ld (nolock)
		where		cast(ld.impdate as date) between dateadd(dd,-90,@MaxDate) and @Run_DTS						
					and sourcetype='Primerica (Referrals)'
		group by uniqueid, impdate, number

select	rpt.uniqueid,	
				min(dateadd(ss,rpt.startTime,calldate)) MinCallDate
                into #PriFirstCall
		from		#PriLeads	PL
		inner join		webdialer..rpttrak rpt (nolock)	ON rpt.uniqueid=pl.UniqueId	
		where		rpt.calldate between dateadd(dd,-90,@MaxDate) and @Run_DTS						
					and campaign in( 'ETQ','GAS')	
		group by    rpt.uniqueid	
			
		update o set o.Calltype = case when rpt.calltype not in (2,8) then 'OB' else 'IB' end	
		from #PriLeads o 	
        inner join #PriFirstCall pf on pf.uniqueid=o.UniqueId
		inner join webdialer..rpttrak rpt (nolock) on calldate = convert(date, mincallDate) 	
													  and rpt.uniqueid = o.uniqueid 	
													  and dateadd(ss,startTime,calldate) = mincallDate 	
													  and rpt.campaign = 'ETQ' 	
UPDATE leads	
SET leads.LeadType = CASE WHEN B.Calltype='OB' then 'Outbound' 	
						  WHEN B.Calltype='IB' then 'Inbound' END	
FROM 	
    dbo.LeadsCost_Detail  leads	
JOIN 	
    #PriLeads as B ON leads.UniqueId=B.uniqueid	
WHERE 	
    leads.SourceType ='Primerica (Referrals)'

--Updates the details of the current job on successful completion of incremental load
    UPDATE BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed'
	WHERE TableName = 'LeadCost_Detail'
	AND JobName		=  'Job.LeadCost_Detail_ExceptADL_Syndicated'
	AND JobStatus 	= 'In Progress'
	AND Start_DTS   = @Run_DTS

IF OBJECT_ID('tempdb..#CPL_Online', 'u') IS NOT NULL DROP TABLE #CPL_Online;
IF OBJECT_ID('tempdb..#PriLeads', 'u') IS NOT NULL DROP TABLE #PriLeads;	

IF OBJECT_ID('tempdb..#Medicaid', 'u') IS NOT NULL DROP TABLE #Medicaid;
IF OBJECT_ID('tempdb..#Medicaidall', 'u') IS NOT NULL DROP TABLE #Medicaidall;	
IF OBJECT_ID('tempdb..#MEDICAIDNEWTFNS', 'u') IS NOT NULL DROP TABLE #MEDICAIDNEWTFNS;	
IF OBJECT_ID('tempdb..#LeadsCost_Detail_ECB', 'u') IS NOT NULL DROP TABLE #LeadsCost_Detail_ECB;
IF OBJECT_ID('tempdb..#MDCOST', 'u') IS NOT NULL DROP TABLE #MDCOST;		
IF OBJECT_ID('tempdb..#costs', 'u') IS NOT NULL DROP TABLE #costs;

END