USE [PROD_FOUNDATION_DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [ETL].[usp_LeadCost_Detail_Incremental_Load]
(
@Start_Date DATETIME    =  '1/1/1900', 
@End_Date   DATETIME    =  '1/1/1900'
)
AS
​
BEGIN
    DECLARE @MaxDate DATETIME2
    DECLARE @Run_DTS DATETIME2
	DECLARE @Vrsn_End_Date DATETIME = '9999-12-31 00:00:00.000'
​
    SELECT	@MaxDate = COALESCE(MAX(START_DTS),'2018-01-01 00:00:00.000')
    FROM	BatchControl 
	WHERE	JobName		='Job.LeadCost_Detail_Syndicated' 
		AND JobStatus		='Completed'

	SELECT @Run_DTS = GETDATE()

	IF @Start_Date <> '1/1/1900'
    SET @MaxDate = @Start_Date

    IF @End_Date <> '1/1/1900'
    SET @Run_DTS = @End_Date

	Print '@Start_Date : ' + CONVERT(VARCHAR(20), @Start_Date)
    Print '@End_Date : '   + CONVERT(VARCHAR(20), @End_Date)
    Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
    Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)
​
    --Inserts the details of the current job to batch control table
    INSERT INTO dbo.BatchControl 
    (
        JobName,
		TableName,
		START_DTS,
		END_DTS,
		JobStatus
    ) 
    VALUES 
    (
        'Job.LeadCost_Detail_Syndicated'
        ,'LeadCost_Detail'
        ,@RUN_DTS
        ,NULL
        ,'In Progress'
    )



Print '@MaxDate : '    + CONVERT(VARCHAR(20), @MaxDate)
Print '@Run_DTS : '    + CONVERT(VARCHAR(20), @Run_DTS)

Print '---- Step 5 : Cost Adjustments for AFFILIATEs   ----------------'

/*************************************************************************************************************
    STEP 5
        - COST ADJUSTMENTS FOR AFFILIATEs
*************************************************************************************************************/

IF OBJECT_ID('tempdb..#rpttrak', 'u') IS NOT NULL DROP TABLE #rpttrak;
IF OBJECT_ID('tempdb..#rpttrak_row_id', 'u') IS NOT NULL DROP TABLE #rpttrak_row_id;

SELECT rpt.uniqueid
     , rpt.number
     , min(DATEADD(ss, rpt.starttime, rpt.calldate)) as ImpTime
     , space(2) termcd
     , Space(15) callid
     , space(5) talktime
	 , leads.billabletalktime
     , RIGHT(rpt.anidigits,10) anidigits

INTO #rpttrak
FROM dbo.LeadsCost_Detail as leads (NOLOCK)
INNER JOIN WEBDIALER.dbo.rpttrak as rpt WITH (NOLOCK) on cast(rpt.calldate as date) between CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS) -- used this one here from where clause for query optimization
AND (leads.UniqueId = rpt.uniqueid)
--where leads.SourceType = 'Online Marketing - Affiliates'
  --and leads.Scrubbed = 0
and rpt.campaign ='ETQ'
and leads.LeadHandleType in( 'Regular','prequal','Transferred')
  --and cast(rpt.calldate as date) between CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)
GROUP BY 
       rpt.uniqueid,
       rpt.number, 
       leads.billabletalktime,
       RIGHT(rpt.anidigits,10)

Declare @minrptdate datetime,@maxrptdate Datetime
Select @minrptdate=Min(convert(date,ImpTime)),@maxrptdate=  Max(convert(date,ImpTime)) from #rpttrak

UPDATE rpt 
SET 
    rpt.termcd = rpt1.termcd, 
    rpt.callid = rpt1.callid, 
    rpt.talktime = rpt1.talktime

FROM 
    #rpttrak rpt
INNER JOIN 
    webdialer..rpttrak rpt1 on cast(rpt1.calldate as date) = convert(date,rpt.ImpTime) 
                                         and rpt.uniqueid = rpt1.uniqueid AND RIGHT(rpt.anidigits,10)=RIGHT(rpt1.anidigits,10)
                                         and rpt.ImpTime = dateadd(ss,starttime, rpt1.calldate)
										 AND cast(rpt1.calldate as date) between @minrptdate AND @maxrptdate


UPDATE rpt 
SET rpt.talktime = rpt.talktime + ReferredCalls.secondCall_talktime
FROM #rpttrak rpt
INNER JOIN (
            SELECT 
                convert(date, rpt1.ImpTime) calldate,
                rpt1.uniqueid, 
                rpt1.number, 
                SUM(rpt.talktime) secondCall_talktime 
                
            FROM #rpttrak rpt1 
            INNER JOIN WEBDIALER..rpttrak rpt on convert(date, rpt.calldate) =convert(date, rpt1.ImpTime) 
                                                        and campaign = 'ETQ'
                                                        and dateadd(ss,rpt.starttime, rpt.calldate) >= rpt1.ImpTime
                                                        and rpt1.termcd = 'RO'
                                                        and rpt.sourcecall = rpt1.callid
														and rpt.sourcecall>''
														AND cast(rpt.calldate as date) between @minrptdate AND @maxrptdate
            GROUP BY convert(date, rpt1.ImpTime),
                rpt1.uniqueid, 
                rpt1.number) as ReferredCalls on rpt.uniqueid = ReferredCalls.uniqueid 
                                and rpt.number = ReferredCalls.number
                                and convert(date, rpt.ImpTime) = ReferredCalls.calldate

select rpt.uniqueid, 
	rpt.number, 
	min (r.imptime) imp_time, 
	sum(rpt.talktime) talktime  
into #rpttrak1 
from webdialer..rpttrak rpt (nolock) 
inner join dbo.LeadsCost_Detail etq on rpt.uniqueid = ETQ.UniqueId
and cast(rpt.calldate as date) between CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS) 
and campaign in ('ETQ') and Scrubbed = 0 
and left(rpt.dnisdigits,7) in ('0046838','0046842','0046848')
inner join #rpttrak r on r.uniqueid = rpt.uniqueid and datediff(ss,r.imptime, dateadd(ss,rpt.starttime,calldate)) between 1 and 120 --datediff will be 0 with the first record 
group by rpt.uniqueid, rpt.number


update rpt set rpt.talktime = rpt.talktime + rpt1.talktime --first call talk time + other calls that were tried to be transferred
from #rpttrak rpt
inner join #rpttrak1 rpt1 (nolock) on convert(date,rpt.imptime) = convert(date,rpt1.imp_time)  
and rpt.uniqueid = rpt1.uniqueid  and rpt.imptime = rpt1.imp_time



select *, row_number() over (partition by uniqueid order by ImpTime ) row_ID into #rpttrak_row_id --JIRA BI-585 -- number changed on second call
from #rpttrak

UPDATE leads
SET 
    leads.BillableFlag = CASE 
                            WHEN left(leads.uniqueid, 5) = 'CRMIB' 
                                and rpt.talktime >= leads.BillableTalkTime 
								and convert(date, rpt.ImpTime)=cast(leads.impdate as date)
                                and (leads.scrubbed = 0 OR ISNULL(leads.scrub_reason,'') like 'AWI Batch%') 
                                then Case when Cast(leads.impdate as date) between '2023-05-01' and '2023-09-13' and leads.termcd ='NM' then 0 
                                    when Cast(leads.impdate as date)<='2023-09-13' AND leads.termcd in ('WN','DN','RB') then 0 else 1 end

                            WHEN left(leads.uniqueid,4) = 'IADL'
								--and convert(date, rpt.ImpTime)=cast(leads.impdate as date)  -- Removed coz if call is on next day. 
                                and (leads.scrubbed = 0 OR ISNULL(leads.scrub_reason,'') like 'AWI Batch%') 
								then Case when Cast(leads.impdate as date) >='2023-05-01' and len(leads.os3_R)=10 and leads.termcd ='NM' then 0 
                                    when len(leads.os3_R)=10 AND leads.termcd in ('WN','DN','RB') then 0 else 1 end else 0
                         END

FROM Leadscost_Detail  as leads
left JOIN #rpttrak_row_id as rpt on  cast(leads.impdate as date) between @minrptdate AND @maxrptdate  
												AND (rpt.uniqueid = leads.UniqueId)
												and leads.Scrubbed = 0 
												and leads.LeadHandleType in( 'Regular','prequal')
												and ISNULL(isbillable_IBADL, 1) <> 0
                                                and row_ID = 1
where cast(leads.impdate as date) between @minrptdate AND @maxrptdate  
and leads.SourceType = 'Online Marketing - Affiliates'
and leads.Scrubbed = 0 
and leads.LeadHandleType in( 'Regular','prequal')
and ISNULL(isbillable_IBADL, 1) <> 0
and leads.campaignID='ETQ'



update l set BillableFlag=1, LeadType='Outbound',LeadHandleType='PreQual',
 UniqueId=case when l.uniqueid like 'IADL%' then l.uniqueid else 'IADL'+l.uniqueid end
from CRMDB..Callbacks c
join dbo.Leadscost_Detail l
on c.UniqueId=l.UniqueId 
and c.CreatedDate>='2023-09-14'
and CreatedBy like 'usp_SetupCallbackForSaleAgent_ECB%'
and l.SourceType='Online Marketing - Affiliates'
and l.LeadType='inbound' --and BillableFlag=0
and l.Os3_r like '%_2T%'
and cast(l.ImpDate as date) between CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS) 

IF OBJECT_ID('tempdb..#ValidEmail', 'u') IS NOT NULL DROP TABLE #ValidEmail;

SELECT 
    leads.ImpDate,
    ETQ.Email,
    count(ETQ.tel) as leads,
    min(ETQ.Imp_Date) as MinImpDate
    INTO 
    #ValidEmail
FROM (
        select 
            cast(ImpDate as date) as ImpDate
        FROM 
            dbo.LeadsCost_Detail with(nolock)
        WHERE SourceType = 'Online Marketing - Affiliates'
        group by
            cast(ImpDate as date)    
    ) as leads
JOIN 
    WEBDIALER.dbo.Campaign_ETQ as ETQ WITH (NOLOCK) ON cast(ETQ.imp_date as date) between cast(dateadd(dd,-90,leads.ImpDate) as date) and leads.ImpDate
													and leads.ImpDate BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)  
													and ETQ.email is not null and ETQ.email <> '0xE3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855' --hash of blank email 
	
JOIN 
    PROD_FOUNDATION_DB..LeadSourceFinal as sources WITH (NOLOCK) ON (left(ETQ.os3_r,10) = sources.OS3
																AND RIGHT(ETQ.os3_r,3) not like 'R%C'
                                                                AND (cast(ETQ.Imp_Date as date) between sources.StartDate and sources.EndDate or sources.StartDate is null))
																AND sources.SourceType = 'Online Marketing - Affiliates'  
GROUP BY
    leads.ImpDate,
    ETQ.Email
HAVING 
    count(ETQ.tel)>1

	


UPDATE AffiliateLeads
SET AffiliateLeads.BillableFlag = 0
FROM 
    dbo.LeadsCost_Detail as AffiliateLeads
JOIN 
    #ValidEmail as ValidEmail on CONVERT(DATE, AffiliateLeads.ImpDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)
								and ValidEmail.MinImpDate between dateadd(dd, -90, AffiliateLeads.Impdate) and AffiliateLeads.Impdate
								and ValidEmail.ImpDate = cast(AffiliateLeads.impdate as date)
								AND ValidEmail.email = AffiliateLeads.Email
                                and AffiliateLeads.ImpDate <> ValidEmail.MinImpDate

WHERE 
    AffiliateLeads.BillableFlag = 1
    and AffiliateLeads.SourceType = 'Online Marketing - Affiliates'
    and AffiliateLeads.LeadHandleType in( 'Regular','prequal')
    and campaignID='ETQ'




Print '---- Step 6 : Cost Adjustments for DRTV   ----------------'
/*************************************************************************************************************
    STEP 6
        - COST ADJUSTMENTS FOR DRTV
*************************************************************************************************************/

IF OBJECT_ID('tempdb..#CPL_DRTV', 'u') IS NOT NULL DROP TABLE #CPL_DRTV;


SELECT 
    cast(lc.ImpDate as date) as ImpDate,
    lc.SourceType,
    -- count(distinct lc.BillableLead) as leads,
    avg(OC.DRTV)/count(distinct lc.BillableLead)*1.0 as CostPerLead 

INTO 
    #CPL_DRTV

FROM 
    dbo.LeadsCost_Detail as lc (NOLOCK)
JOIN 
    PROD_FOUNDATION_DB.dbo.OnlineCost as OC (NOLOCK) ON ( cast(lc.ImpDate as date) BETWEEN CONVERT(DATE, @MaxDate) AND CONVERT(DATE, @Run_DTS) ) 
													and	lc.SourceType = 'DRTV' 
													AND lc.BillableFlag = 1 
													AND OC.DRTV is not null 
													and (cast(OC.rptDate as date) = cast(lc.ImpDate as date) 
													and OC.VRSN_END_DTS = '9999-12-31 00:00:00.000')

GROUP BY 
    cast(lc.ImpDate as date),
    lc.SourceType


UPDATE A
SET 
    A.BillableLeadCost = B.CostPerLead,A.LeadCost=B.CostPerLead

FROM 
    dbo.LeadsCost_Detail as A 
JOIN 
    #CPL_DRTV as B ON (cast(A.ImpDate as date) = B.ImpDate)
WHERE 
    A.SourceType = 'DRTV'
    and A.BillableFlag = 1


Print '---- Step 7 : Language Type Update  ----------------'
/*************************************************************************************************************
    STEP 7
        - Update Language Type
*************************************************************************************************************/
UPDATE leads
SET
    leads.LanguageType = CASE 
                            WHEN leads.SubUnit = 'Spanish' THEN 'ES'
                            WHEN leads.sourcelanguage = 'SPANISH' THEN 'ES'
                            ELSE 'EN' 
                          END

FROM dbo.LeadsCost_Detail as leads 
WHERE cast(leads.impdate as date) BETWEEN convert(date, @MaxDate) and convert(date, @Run_DTS)
AND SourceType+ '-'+ LeadType <> 'ADL-Inbound'

IF OBJECT_ID('tempdb..#MaxRPT', 'u') IS NOT NULL DROP TABLE #MaxRPT;

Select Uniqueid,Max(Dateadd(ss,starttime,calldate)) MaxCall,space(25) acdgroup,space(2) termcd
into #MaxRPT
from webdialer..rpttrak (NOLOCK) rpt
where cast(rpt.calldate as date) between @minrptdate AND @maxrptdate
--AND rpt.campaign='ETQ' -- commented to calculate language type of GAS campaign calls 
AND exists (select 1 
			from leadscost_detail (nolock) leads
			where --cast(leads.impdate as date) BETWEEN convert(date, @MaxDate) and convert(date, @Run_DTS)
			--AND 
			leads.uniqueid=rpt.uniqueid)
GROUP BY Uniqueid


Update rpt
	SET acdgroup= rpt1.acdgroup,termcd=rpt1.termcd
FROM #Maxrpt rpt
JOIN Webdialer..rpttrak rpt1  on cast(rpt1.calldate as date) between @minrptdate AND @maxrptdate
									 AND rpt.uniqueid=rpt1.uniqueid 
									 AND rpt.Maxcall=Dateadd(ss,rpt1.starttime,rpt1.calldate)
										


UPDATE leads
SET
    LanguageType = CASE 
                            WHEN rpt.acdgroup LIKE 'INT_SPA%' 
                                OR rpt.acdgroup LIKE 'INT_MKTS%'
                                OR rpt.acdgroup LIKE '%SPANISH%' THEN 'ES'
                            ELSE 'EN' 
                          END 
FROM 
    dbo.LeadsCost_Detail as leads 
INNER JOIN 
    #Maxrpt as rpt ON ( convert(date, leads.Impdate) between convert(date, @MaxDate) and convert(date, @Run_DTS)
							AND rpt.uniqueid=leads.uniqueid
							AND SourceType+ '-'+ LeadType <> 'ADL-Inbound')


Print '---- Step 8 : Cost Adjustments (Credits & Debits)  ----------------'
/*************************************************************************************************************
    STEP 8
        - Cost Adjustments (Credits & Debits)
*************************************************************************************************************/

IF OBJECT_ID('tempdb..#Credit', 'u') IS NOT NULL DROP TABLE #Credit;

SELECT
    leads.SourceType,
    leads.Source,
    cast(credits.Date_applied as date) as Date_applied,
    COUNT(concat(leads.Os3_r, '-', leads.BillableLead)) as leads,
    AVG(credits.Credit) as credit,
    AVG(credits.Credit)/COUNT(distinct concat(leads.Os3_r, '-', leads.BillableLead))*1.0 as avg_credit

INTO #Credit

FROM 
    dbo.LeadsCost_Detail as leads (NOLOCK)
INNER JOIN 
    PROD_FOUNDATION_DB.dbo.LeadSourceInfoCredits as credits with(nolock) ON (leads.Source = credits.Source
																		AND CAST(leads.ImpDate AS DATE) = CAST(credits.Date_applied AS DATE)
																		AND BillableFlag = 1
																		AND convert(date, leads.Impdate) between convert(date, @MaxDate) and convert(date, @Run_DTS) )
--WHERE 
--    BillableFlag = 1
--    and ( convert(date, leads.Impdate) between convert(date, @MaxDate) and convert(date, @Run_DTS) ) 
GROUP BY
    leads.SourceType,
    leads.Source,
    cast(credits.Date_applied as date)


UPDATE leads
set leads.Credit = Credit.avg_credit

FROM 
    dbo.LeadsCost_Detail as leads
JOIN 
    #Credit as Credit on (leads.Source = Credit.Source
                        and leads.SourceType = Credit.SourceType
                        and CAST(leads.ImpDate AS DATE) = CAST(credit.Date_applied AS DATE))



						
Print '---- Step 9 : Mark Robo calls as non-billable  ----------------'
/*************************************************************************************************************
    STEP 9
        - Mark Robo calls as non-billable
*************************************************************************************************************/

UPDATE leads
SET leads.billableflag = 0
FROM 
    LeadsCost_Detail as leads 
JOIN 
    #rpttrak as rpt on leads.uniqueid = rpt.uniqueid
                        and rpt.termcd='RB'
                        and cast(leads.ImpDate as date) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)
						and leads.sourcetype='ADL' and LeadhandleType='Regular'
                        and rpt.talktime>=rpt.billabletalktime
                        and leads.billableflag = 1

					
UPDATE leads
SET leads.billableflag = 0
FROM 
    LeadsCost_Detail as leads 
JOIN 
    #MaxRPT as rpt on convert(date, leads.Impdate) between convert(date, @MaxDate) and convert(date, @Run_DTS)
							AND rpt.uniqueid=leads.uniqueid
							and isnull(scrubbed,0) = 0
							And Sourcetype IN ('Primerica (Referrals)','DRTV','Low Cost ADL','Online Marketing - NonAffiliates','Online Marketing - Facebook')
							AND rpt.termcd='RB' --OR (convert(date, impdate) >= '01/01/2022' and isnull(termcd,'') = 'NC' and isnull(fname,'') = '' AND isnull(lname,'') = ''))
                            and LeadhandleType IN ('Regular','Abandoned','PreQual')
                            and leads.billableflag = 1

Print '---- Step 10 Update null/blank states for leadscost_detail ----------------'
/*************************************************************************************************************
    STEP 10
        - Update null/blank states for leadscost_detail
*************************************************************************************************************/

Update ld set State=c.state
from PROD_FOUNDATION_DB..LeadsCost_detail ld
join CRMDB..CityCodes c
on isnull(ld.state,'')='' and c.citycode=left(ld.Number,3)
where isnull(ld.State,'')=''
and convert(date, ld.Impdate) between convert(date, @MaxDate) and convert(date, @Run_DTS)


--Print '---- Step 11 Update first call ETQ agentid for leadscost_detail Transferred calls and mark leadhandletype for non-billable transferred to be included in leadcount -----'
/*************************************************************************************************************
    STEP 11
        - Update first call agentid for leadscost_detail
*************************************************************************************************************/

update leads set leads.BillableLeadCost=case WHEN leads.SourceType = 'Online Marketing - Affiliates' 
										and leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' 
									then OBCost else leads.BillableLeadcost end ,
                 leads.LeadCost=case WHEN leads.SourceType = 'Online Marketing - Affiliates' 
										and leads.UniqueId LIKE 'IADL%' AND RIGHT(os3_r,3) NOT LIKE 'R%C' 
									then OBCost else leads.LeadCost end 
from Leadscost_Detail leads
LEFT JOIN PROD_FOUNDATION_DB.dbo.OnlineCost as OC with(nolock) on (cast(OC.rptDate as date) = cast(leads.impdate as date) 
and OC.VRSN_END_DTS = '9999-12-31 00:00:00.000')
where leads.LeadType='outbound' and leadhandletype='prequal' and BillableFlag=1
and cast(leads.ImpDate as date)>='2023-09-14' and cast(leads.ImpDate as date) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)

UPDATE AffiliateLeads
SET AffiliateLeads.BillableFlag = 0
FROM 
    dbo.LeadsCost_Detail as AffiliateLeads
WHERE
    AffiliateLeads.BillableFlag = 1
    and AffiliateLeads.SourceType = 'Online Marketing - Affiliates'
    and AffiliateLeads.LeadHandleType= 'prequal' and campaignid='ECB' 
    and AffiliateLeads.LeadType='Inbound'
	and CONVERT(DATE, AffiliateLeads.ImpDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)

update lead set Leadhandletype='Transferred',BillableLeadCost=0,cost=0,LeadCost=0
from dbo.leadscost_detail (nolock) lead 
where CAST(impdate as date)>='2023-09-14' and isnull(billableflag,0)=0 
and LeadHandleType= 'prequal' and os3_R like '%_2t%' and campaignid='ETQ' and lead.SourceType = 'Online Marketing - Affiliates'
and CONVERT(DATE, lead.ImpDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)

update rpt set rpt.AgentId=trn.agentid,
       rpt.AgentName=ag.FirstName+' '+lastname,
       rpt.Production_StartDate=cast(ag.production_startDate as date),
       rpt.AgentActiveStatus=ag.isactive,
       rpt.role=ag.role,
       rpt.subunit=ag.subunit,
       rpt.supervisorid=ag.supervisorid,
       rpt.site=ag.site
FROM dbo.leadscost_detail rpt
inner join( Select rpt.rptdate,rpt.uniqueid,rpt.agentid,rpt.number  
            from WEBDIALER..rpttrak rpt
            join 
            #rpttrak1 rpt1 
            on rpt.uniqueid=rpt1.uniqueid 
            and rpt.number=rpt1.number 
            and rpt1.imp_time=DATEADD(ss, rpt.starttime, rpt.calldate)
            where campaign='etq' and lasttc='HL' and rptdate>='2023-09-14'
            ) as trn on rpt.uniqueid = Trn.uniqueid 
                                and rpt.number = Trn.number
                                and convert(date, rpt.ImpDate) = Trn.rptdate
inner join dbo.Agents(nolock) as Ag ON (Ag.Id = trn.AgentId
                                                                    AND convert(date,rpt.impdate) between convert(date,Ag.VRSN_SRT_DTS) AND convert(date,Ag.VRSN_END_DTS )
                                                                    and convert(date,rpt.impdate) <> convert(date,Ag.VRSN_END_DTS ))
where rpt.campaignid='etq' 
and rpt.os3_R like '%_2t%'
and rpt.AgentId<>trn.agentid
and CONVERT(DATE, rpt.ImpDate) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)

--Print '---- Step 12 Add ECB Transfer wage to ETQ transferred Leads' cost ----------------'
/*************************************************************************************************************
    STEP 12
        - Add ECB Transfer wage to ETQ transferred Leads' cost
*************************************************************************************************************/


select agentid, rptdate, sum(loginseconds)/3600. loginHour into #rptlogins
from webdialer..rptlogin (nolock)
where rptdate>='2023-09-14' 
and convert(date,rptdate) between CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS) 
and campaignid = 'ECB'
group by agentid, rptdate

select agentid, rptdate, sum(breakseconds)/3600. breakHour into #rptbreaks
from webdialer..rptbreak (nolock)
where rptdate>='2023-09-14' 
and convert(date,rptdate) between CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS) 
and campaignid = 'ECB'
and breakcode in ('50','Lunch','Lunch - 45')
group by agentid, rptdate


Select logins.rptdate,
       logins.agentid,
       case when agt.site like 'LHR%' then '5.00' when agt.site = 'NIC' then '4.45' else '29.83' end siteRate,
       (loginHour - isnull(BreakHour,0)) receptiontime

    into #rectime
from #rptlogins (nolock) logins
join CRMDB..Agents agt on agt.Id=logins.agentid
left join #rptbreaks (nolock) breaks
    on logins.rptdate=breaks.rptdate
    and Logins.agentid=breaks.agentid
WHERE logins.rptdate BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)



Select CAST(leads. impdate as date) ImpDate,
       avg(recWage)/COUNT(distinct uniqueid) TransferWage
    into #perLeadTransferWage
from(
    Select rec.rptdate,Sum(rec.receptiontime)*MAX(SiteRate) RecWage
    from #rectime rec 
    Group by rec.rptdate
    )a
join Leadscost_Detail leads on ((Sourcetype IN('Online Marketing - NonAffiliates','Online Marketing - Facebook') and leads.CampaignId='etq') 
                                OR (Sourcetype IN ('Online Marketing - Affiliates','ADL') and leads.CampaignId='ecb' and leadtype='Outbound')) 
                                and LeadHandleType in('prequal','transferred') and a.rptdate=CAST(leads. impdate as date)
group by CAST(leads. impdate as date)


Update Leads SET leads.cost=isnull(cost,0)+trn.TransferWage,
leads.billableleadcost=ISNULL(billableleadcost,0)+trn.TransferWage,
leads.ReceptionWage=trn.TransferWage
from Leadscost_Detail (nolock) leads
join #perLeadTransferWage trn
on trn.ImpDate=cast(leads.ImpDate as date)
and ((Sourcetype IN('Online Marketing - NonAffiliates','Online Marketing - Facebook') and leads.CampaignId='etq') 
      OR (Sourcetype IN ('Online Marketing - Affiliates','ADL') and leads.CampaignId='ecb' and leadtype='Outbound')) 
      and LeadHandleType in('prequal','transferred')
WHERE cast(leads.ImpDate as date) BETWEEN CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)



Update etq set BillableFlag=0
from LeadsCost_Detail etq
join LeadsCost_Detail ecb
on etq.UniqueId=ecb.UniqueId and etq.CampaignId='ETQ' and ecb.CampaignId='ECB'
where etq.SourceType IN('online marketing - affiliates','ADL') and etq.LeadType='outbound'
and etq.LeadHandleType='PreQual' and etq.BillableFlag=1
and CAST(etq.impdate as date) between CONVERT(DATE,@MaxDate) AND CONVERT(DATE,@Run_DTS)

--Print '---- Step 13 Update first call agentid for leadscost_detail ----------------'
/*************************************************************************************************************
    STEP 13
        - Update first call agentid for leadscost_detail
*************************************************************************************************************/

--UPDATE leads
--SET leads.Agentid = rpt.Agentid
--FROM 
--    LeadsCost_Detail as leads 
--JOIN 
--    #rpttrak_min as rpt on leads.uniqueid = rpt.uniqueid
--                        and leads.number = rpt.number
--                        and cast(leads.ImpDate as date) = cast(rpt.minCallDate as date)
--						--and leads.sourcetype='ADL' and LeadhandleType='Regular'
--                        and leads.AgentId <>rpt.agentid

		
drop table #rpttrak,--#rpttrak_row_id,#rpttrak_min, 
#CPL_DRTV, #Credit, #MaxRPT, #ValidEmail,#rptlogins,#rptbreaks,#rectime,#perLeadTransferWage
--Updates the details of the current job on successful completion of incremental load
    UPDATE BatchControl
	SET END_DTS 	= GETDATE(),
		JobStatus 	= 'Completed'
	WHERE TableName = 'LeadCost_Detail'
	AND JobStatus 	= 'In Progress'
	AND Start_DTS   = @Run_DTS
	
END
