USE [Dev_Reporting_DB]
GO

/****** Object:  StoredProcedure [dbo].[ETL_Insert_Policy_Data_HealthSherpa]    Script Date: 12/29/2025 8:57:02 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ETL_Insert_Policy_Data_HealthSherpa] --'01/01/2025',  '08/10/2025'
	@dateStart DATE = NULL
	,@dateEnd DATE = NULL
AS
BEGIN
	--declare @dateStart date = '10/15/2025', @dateEnd Date = '11/17/2025'
	IF @dateStart = NULL
	BEGIN
		SET @dateStart = convert(DATE, getdate())
	END

	IF @dateEnd = NULL
	BEGIN
		SET @dateEnd = convert(DATE, getdate())
	END

	SELECT
		--SELECT  top 10
		s2.application_creation_date2 AS SaleDate
		,s2.ffm_app_id AS ffm_id
		,CASE 
			WHEN s2.Issuer LIKE '%Ambetter%'
				THEN 'Ambetter'
			WHEN s2.Issuer LIKE '%Molina%'
				THEN 'Molina'
			WHEN s2.Issuer LIKE '%Oscar%'
				THEN 'Oscar'
			WHEN s2.Issuer LIKE '%Cigna%'
				THEN 'Cigna'
			WHEN s2.Issuer LIKE '%CareSource%'
				THEN 'CareSource'
			WHEN s2.Issuer LIKE '%Health First%'
				THEN 'HealthFirst'
			WHEN (
					s2.Issuer LIKE '%Blue%'
					AND s2.Issuer NOT LIKE '%Anthem Blue%'
					)
				THEN 'BCBS'
			WHEN s2.Issuer LIKE '%UnitedHealthcare%'
				THEN 'UHC'
			WHEN s2.Issuer LIKE '%Aetna%'
				THEN 'Aetna'
			WHEN s2.Issuer LIKE '%Anthem%'
				THEN 'Anthem'
			ELSE 'Others'
			END carrier_name
		,convert(VARCHAR(50), NULL) agent_id
		,s2.agent AS Agent_name
		,convert(VARCHAR(250), NULL) policy_id
		,convert(VARCHAR(250), NULL) lead_id
		,'Only in [MonthlyDashReportBacupData]' existStatus
	INTO #combinedSales
	--select top 10 *
	FROM FINDB.ACA.MonthlyDashReportBacupData s2
	WHERE s2.NewVsSave IN (
			'Termed New'
			,'New'
			)
		AND NOT EXISTS (
			SELECT 1
			FROM TLD.dbo.tld_policies s
			WHERE isnull(s.date_sold, '') <> ''
				AND convert(DATE, s.date_sold) = s2.application_creation_date2
				AND s.ffm_id = s2.ffm_app_id
			)

	----Already added in other SPs
	----	union all
	----	--select top 10 
	----	select
	------select count(*)
	----	convert(date, date_sold) as SaleDate,
	----	ffm_id,
	----	carrier_name,
	----	agent_id,
	----	agent_first_name +' '+ agent_last_name as Agent_name,
	----	policy_id,
	----	lead_id,
	----	'in Policy Tables' existStatus
	----	--select count(*) 
	----    FROM TLD.dbo.tld_policies s
	----    WHERE product_plan IN ('MM','ACA') 
	SELECT -- top 10
		FFM_ID
		,saleDate
		,lead_id
		,policy_id
		,existStatus
		,agent_id
		,Agent_name
		,CONVERT(VARCHAR(250), NULL) AS application_number
		,carrier_name
		,
		--CONVERT(varchar(250), NULL) AS lead_id,
		CONVERT(VARCHAR(250), NULL) AS lead_vendor_id
		,CONVERT(VARCHAR(250), NULL) AS lead_vendor_name
		,CONVERT(VARCHAR(250), NULL) AS tracking_id
		,CONVERT(VARCHAR(250), NULL) AS reference_id
		,CONVERT(VARCHAR(250), NULL) AS referrer
		,CONVERT(VARCHAR(250), NULL) AS List_Vendor_Name
		,CONVERT(VARCHAR(250), NULL) AS [page]
		,CONVERT(VARCHAR(250), NULL) AS Division
		,CONVERT(VARCHAR(250), NULL) AS STATE
		,CONVERT(VARCHAR(250), NULL) AS Lead_Phone
		,CONVERT(VARCHAR(250), NULL) AS Policy_Status
		,CONVERT(VARCHAR(250), NULL) AS [Product]
		,CONVERT(VARCHAR(250), NULL) AS product_description
		,'ACA' AS product_plan
		,CONVERT(VARCHAR(250), NULL) AS lead_state
		,CONVERT(VARCHAR(250), NULL) AS lead_zipcode
		,CONVERT(DATE, NULL) AS date_created
		,CONVERT(DATE, NULL) AS date_modified
		,CONVERT(DATE, NULL) AS date_converted
		,CONVERT(DATE, NULL) AS date_verified
		,CONVERT(DATE, NULL) AS date_sold
		,CONVERT(DATE, NULL) AS date_cancelled
		,CONVERT(DATE, NULL) AS date_reactivated
		,CONVERT(DATE, NULL) AS date_refused
		,CONVERT(DATE, NULL) AS date_effective
		,CONVERT(DATE, NULL) AS Lead_ImportDate
		,CONVERT(VARCHAR(250), NULL) AS VendorIDsCombined
		,CONVERT(VARCHAR(250), NULL) AS VendorsCombined
		,CONVERT(DATE, NULL) AS date_terminate
		,CONVERT(DATE, NULL) AS date_issued
		,CONVERT(DATE, NULL) AS date_inforce
		,CONVERT(DATE, NULL) AS date_posted
		,CONVERT(DATE, NULL) AS date_drafted
		,CONVERT(DATE, NULL) AS date_paid
		,CONVERT(DATE, NULL) AS VRSN_ST_DTS
		,CONVERT(DATE, NULL) AS VRSN_END_DTS
		,CONVERT(DATE, NULL) AS INSERT_DTS
		,CONVERT(VARCHAR(10), NULL) AS Islocated
	INTO #Policy_Details_combined
	--from FINDB.ACA.HS_PoliciesLog_Locked
	FROM #combinedSales

	--where application_creation_date2 between '2025-10-01' and '2025-10-31' 
	--where convert(date,application_creation_date2) between '2025-10-01' and '2025-10-31' 
	--select * from #Policy_Details_combined where saleDate between '2025-10-20' and '2025-10-26'
	-------Updating columns based on FFM_ID and Date_Sold/SaleDate --------------
	UPDATE tgt
	SET
		--tgt.policy_id          = src.policy_id,
		tgt.agent_id = src.agent_id
		,tgt.Agent_name = src.agent_first_name + ' ' + src.agent_last_name
		,tgt.application_number = src.application_number
		,tgt.carrier_name = src.carrier_name
		,
		--tgt.lead_id           = src.lead_id,
		tgt.lead_vendor_id = src.lead_vendor_id
		,tgt.lead_vendor_name = src.lead_vendor_name
		,tgt.lead_phone = src.lead_phone
		,tgt.product = src.product
		,tgt.product_description = src.product_description
		,
		--tgt.product_plan      = src.product_plan, -- ACA is hard coded, might be a possibilty that previous sale was of MA
		tgt.lead_state = src.lead_state
		,tgt.lead_zipcode = src.lead_zipcode
		,tgt.date_created = src.date_created
		,tgt.date_modified = src.date_modified
		,tgt.date_converted = src.date_converted
		,tgt.date_verified = src.date_verified
		,tgt.date_sold = src.date_sold
		,tgt.date_cancelled = src.date_cancelled
		,tgt.date_reactivated = src.date_reactivated
		,tgt.date_refused = src.date_refused
		,tgt.date_effective = src.date_effective
		,tgt.date_terminate = src.date_terminate
		,tgt.date_issued = src.date_issued
		,tgt.date_inforce = src.date_inforce
		,tgt.date_posted = src.date_posted
		,tgt.date_drafted = src.date_drafted
		,tgt.date_paid = src.date_paid
		,tgt.Islocated = CASE 
			WHEN src.ffm_id IS NOT NULL
				THEN 'located'
			ELSE NULL
			END
	FROM #Policy_Details_combined AS tgt
	INNER JOIN TLD.dbo.tld_policies AS src ON tgt.FFM_ID = left(src.ffm_id, 10)
		AND tgt.SaleDate = convert(DATE, src.date_sold)

	UPDATE tgt
	SET tgt.tracking_id = src2.tracking_id
		,tgt.reference_id = src2.reference_id
		,tgt.referrer = src2.referrer
	FROM #Policy_Details_combined AS tgt
	INNER JOIN tld.dbo.TLD_Leads src2 ON tgt.lead_id = src2.lead_id

	--UPDATE tgt
	--SET
	--    --tgt.policy_id          = src.policy_id,
	--    tgt.agent_id           = src.agent_id,
	--    tgt.Agent_name           = src.agent_first_name+' '+src.agent_last_name,
	--    tgt.application_number = src.application_number,
	--    tgt.carrier_name      = src.carrier_name,
	--    --tgt.lead_id           = src.lead_id,
	--    tgt.lead_vendor_id    = src.lead_vendor_id,
	--    tgt.lead_vendor_name  = src.lead_vendor_name,
	--    tgt.lead_phone        = src.lead_phone,
	--    tgt.product           = src.product,
	--    tgt.product_description = src.product_description,
	--    tgt.product_plan      = src.product_plan,
	--    tgt.lead_state        = src.lead_state,
	--    tgt.lead_zipcode      = src.lead_zipcode,
	--    tgt.date_created      = src.date_created,
	--    tgt.date_modified     = src.date_modified,
	--    tgt.date_converted    = src.date_converted,
	--    tgt.date_verified     = src.date_verified,
	--    tgt.date_sold         = src.date_sold,
	--    tgt.date_cancelled    = src.date_cancelled,
	--    tgt.date_reactivated  = src.date_reactivated,
	--    tgt.date_refused      = src.date_refused,
	--    tgt.date_effective    = src.date_effective,
	--    tgt.date_terminate    = src.date_terminate,
	--    tgt.date_issued       = src.date_issued,
	--    tgt.date_inforce      = src.date_inforce,
	--    tgt.date_posted       = src.date_posted,
	--    tgt.date_drafted      = src.date_drafted,
	--    tgt.date_paid         = src.date_paid,
	--    tgt.Islocated         = case when src.ffm_id is not null then 'located' else null end
	----select * 
	--FROM #Policy_Details_combined AS tgt
	--INNER JOIN TLD.dbo.tld_policies AS src
	--    ON tgt.policy_id = src.policy_id
	--where tgt.FFM_ID is null
	--UPDATE tgt
	--SET
	--    tgt.tracking_id		  = src2.tracking_id,
	--    tgt.reference_id	  = src2.reference_id,
	--    tgt.referrer		  = src2.referrer
	--FROM #Policy_Details_combined AS tgt
	--INNER JOIN tld.dbo.TLD_Leads src2
	--	ON tgt.lead_id = src2.lead_id
	--where tgt.FFM_ID is null
	UPDATE tgt
	SET tgt.lead_vendor_id = src.lead_vendor_id
		,tgt.lead_vendor_name = src.lead_vendor_name
		,tgt.lead_id = src.lead_id
	FROM #Policy_Details_combined AS tgt
	INNER JOIN TLD.dbo.tld_policies AS src ON tgt.FFM_ID = left(src.ffm_id, 10)
		AND tgt.existStatus = 'Only in [MonthlyDashReportBacupData]'

	UPDATE tgt
	SET tgt.tracking_id = src2.tracking_id
		,tgt.reference_id = src2.reference_id
		,tgt.referrer = src2.referrer
	FROM #Policy_Details_combined AS tgt
	INNER JOIN tld.dbo.TLD_Leads src2 ON tgt.lead_id = src2.lead_id
	WHERE tgt.existStatus = 'Only in [MonthlyDashReportBacupData]'

	UPDATE r
	SET List_Vendor_Name = c.[Vendor Name]
		,reference_id = [List ID]
	FROM #Policy_Details_combined r
	INNER JOIN Dev_Foundation_DB.dbo.[Convoso Sources] c ON r.referrer = c.[List Name]

	UPDATE r
	SET List_Vendor_Name = c.[Vendor]
		,reference_id = [ListID]
	--select top 100 *
	FROM #Policy_Details_combined r
	INNER JOIN Dev_Foundation_DB.dbo.Vendor_ListMapping c ON r.referrer = c.VendorCampaignId
		AND List_Vendor_Name = ''

	UPDATE p
	SET Division = l.Division
		,Referrer = VendorCampaignId
	--select p.reference_id , l.ListId, *
	FROM #Policy_Details_combined p
	INNER JOIN Dev_Foundation_DB.dbo.Vendor_ListMapping l ON isnumeric(p.reference_id) = 1
		AND p.reference_id = l.ListId --and VendorType = 'Data Leads'
		AND lead_vendor_id IN (
			'25573'
			,'23618'
			,'27540'
			)

	UPDATE p
	SET Division = l.Division
		,p.reference_id = l.ListId
	--select p.reference_id , l.ListId, *
	FROM #Policy_Details_combined p
	INNER JOIN Dev_Foundation_DB.dbo.Vendor_ListMapping l ON p.Referrer = l.VendorCampaignId --and VendorType = 'Data Leads'
		AND isnull(p.Division, '') = ''
		AND l.Division > ''
		AND lead_vendor_id IN (
			'25573'
			,'23618'
			,'27540'
			)

	UPDATE p
	SET Division = l.Division
	--select p.lead_vendor_id , l.Vendor_Id, *
	FROM #Policy_Details_combined p
	INNER JOIN Dev_Foundation_DB.dbo.LeadVendorDetails l ON p.lead_vendor_id = l.Vendor_Id --and VendorType = 'Non-Data Leads'
		AND isnull(p.Division, '') = ''
		AND l.Division > ''

	--select * from #Policy_Details_combined where convert(Date, saledate) between @dateStart and @dateEnd
	--select top 10 * from Dev_Foundation_DB..PolicyDetails
	INSERT INTO Dev_Foundation_DB.dbo.PolicyDetails (
		policy_id
		,Agent_Id
		,Agent_name
		,application_number
		,carrier_name
		,lead_id
		,lead_vendor_id
		,lead_vendor_name
		,tracking_id
		,reference_id
		,referrer
		,List_Vendor_Name
		,[page]
		,Division
		,STATE
		,Lead_Phone
		,Policy_Status
		,[Product]
		,product_description
		,product_plan
		,lead_state
		,lead_zipcode
		,date_created
		,date_modified
		,date_converted
		,date_verified
		,date_sold
		,date_cancelled
		,date_reactivated
		,date_refused
		,date_effective
		,Lead_ImportDate
		,VendorIDsCombined
		,VendorsCombined
		,date_terminate
		,date_issued
		,date_inforce
		,date_posted
		,date_drafted
		,date_paid
		,VRSN_ST_DTS
		,VRSN_END_DTS
		,INSERT_DTS
		,DataSource
		)
	--declare @dateStart date = '10/15/2025', @dateEnd Date = '11/17/2025'
	--drop table Dev_Foundation_DB.dbo.PolicyDetails 
	SELECT policy_id
		,Agent_Id
		,Agent_name
		,ffm_id application_number
		,carrier_name
		,lead_id
		,lead_vendor_id
		,lead_vendor_name
		,tracking_id
		,reference_id
		,referrer
		,List_Vendor_Name
		,[page]
		,Division
		,STATE
		,Lead_Phone
		,Policy_Status
		,[Product]
		,product_description
		,product_plan
		,lead_state
		,lead_zipcode
		,date_created
		,date_modified
		,date_converted
		,date_verified
		,saledate date_sold
		,date_cancelled
		,date_reactivated
		,date_refused
		,date_effective
		,Lead_ImportDate
		,CASE 
			WHEN lead_vendor_id IN (
					'25573'
					,'23618'
					,'27540'
					)
				THEN reference_id
			ELSE lead_vendor_Id
			END VendorIDsCombined
		,CASE 
			WHEN lead_vendor_id IN (
					'25573'
					,'23618'
					,'27540'
					)
				THEN List_Vendor_Name
			ELSE lead_vendor_name
			END VendorsCombined
		,date_terminate
		,date_issued
		,date_inforce
		,date_posted
		,date_drafted
		,date_paid
		,Getdate() VRSN_ST_DTS
		,'9999-12-31 00:00:00.000' VRSN_END_DTS
		,Getdate() INSERT_DTS
		,'HealthSherpa' DataSource
	--into Dev_Foundation_DB.dbo.PolicyDetails
	FROM #Policy_Details_combined r
	WHERE convert(DATE, saledate) BETWEEN @dateStart
			AND @dateEnd
				--where not exists ( select 1 from Dev_Foundation_DB.dbo.PolicyDetails p where p.policy_id = r.policy_id)
END